[2017-12-09 07:54] DinisCruz opened #45 "Add social buttons to website"
Namely Twitter, Facebook, LInkedIn and others

[2017-12-09 07:58] DinisCruz opened #46 "Add threads and comments feature to site"
For example https://disqus.com/?

Are there alternatives?

[2017-12-09 08:01] DinisCruz opened #47 "Add Jemma's todo list to this site"
Related to #49 and #48

[2017-12-09 08:11] DinisCruz opened #48 "Move Dinis to-do list from Confluence to GitHub"
http://confluence.photobox.com/display/SEC/Issues+for+Dinis+to+fix

**Issues for Dinis to Fix**
- [x] Contact page gives 404
- [ ] Favicon won't update
- [x] Remove blog listing from footer
- [x] Identify what the random green box links are and where they are coming from and get rid (see under address in footer for example)
- [ ] Remove the requirement for images in testimonials - in chrome this i

[2017-12-09 08:30] DinisCruz opened #49 "Move website to-do list to GitHub"
http://confluence.photobox.com/display/SEC/Website+to+do+list

![image](https://user-images.githubusercontent.com/656739/33793937-63abd6f4-dcb9-11e7-8a89-07af4c805779.png)

(to be assigned to @Ambg05)

[2017-12-09 08:35] DinisCruz opened #50 "Add amber support to website CI"
To make the HTML editing process much easier

https://github.com/eknkc/amber

[2017-12-09 08:38] DinisCruz opened #51 "Write post about the current Github+AWS CI Pipeline"
Which is this :)

![image](https://user-images.githubusercontent.com/656739/33794073-50377620-dcbc-11e7-9fa8-97797f987d5e.png)

[2017-12-09 11:39] DinisCruz opened #52 "Clean up _aws folder"
https://github.com/photobox/pbx-group-security/tree/master/_aws

A number of these files are related to capturing the commands used when creating first version of the site
![image](https://user-images.githubusercontent.com/656739/33795235-97448f76-dcd5-11e7-8470-6c14a74d4d6d.png)

[2017-12-09 11:40] DinisCruz opened #53 "New Blog: Initial setup of hugo site to run on S3"
The content required to write this post is at  #52

This can be done by an Upwork Aws expert

[2017-12-09 11:42] DinisCruz opened #54 "Import labels from Owasp Maturity Models project to this repo"
Since they provide a really nice way to label issues and to assign priorites

see https://github.com/owasp/maturity-models/labels

for example the P0 to P3 ones

![image](https://user-images.githubusercontent.com/656739/33795260-fa0ec018-dcd5-11e7-987c-59c33998caf5.png)

[2017-12-09 12:02] DinisCruz opened #55 "Improve README.md text"
https://github.com/photobox/pbx-group-security/blob/master/README.md

it should
 - [ ] have some more info about who we are and what we are trying to do with the site
 - [ ] contain some info and links about the technology behind this site
 - [ ] have section on 'how to help'

[2017-12-09 22:37] #47 closed

[2017-12-09 23:00] DinisCruz opened #56 "Fix 404 errors (as seen in dev tools)"
![image](https://user-images.githubusercontent.com/656739/33800290-ac415ba2-dd34-11e7-92fa-67d239cee094.png)

[2017-12-09 23:04] DinisCruz opened #57 "Delete original theme blog posts"
![image](https://user-images.githubusercontent.com/656739/33800316-3df1a462-dd35-11e7-8777-21e6c90fb78f.png)

[2017-12-09 23:07] DinisCruz commented on #57
Deleted:
 - Creating a new theme
 - Go is for lovers
 - Hugo is for lovers
 - Linked post
 - Migrate from Jekyll

here are the articles left

[2017-12-09 23:10] #57 closed

[2017-12-09 23:15] DinisCruz opened #58 "Fix image in robert's post"
![image](https://user-images.githubusercontent.com/656739/33800362-7ceaca1c-dd36-11e7-926b-bf8f1286174f.png)

does not show in the main blogs page

![image](https://user-images.githubusercontent.com/656739/33800365-90c4e428-dd36-11e7-9d22-d62a9a673bba.png)

and in the blog individual page

![image](https://user-images.githubusercontent.com/656739/33800383-c1cf27c2-dd36-11e7-9ec7-e54727ceeff8.png)

[2017-12-09 23:20] DinisCruz opened #59 "Remove all CDN dependencies and make all resources load locally"
Not only this will have security advantages (not loading resources from 3rd party domains) it will allow offline development

[2017-12-09 23:25] #56 closed

[2017-12-09 23:30] DinisCruz opened #60 "Change CI workflow so that dev.pbx-gs.com shows the Dev branch"
That way real time changes and commits can be seen strait away and only when merging into master will those changes be seen in the main https://pbx-group-security.com

[2017-12-09 23:33] DinisCruz opened #61 "Fix carousel images"
at the moment they are showing a default one

![image](https://user-images.githubusercontent.com/656739/33800532-4fee2b50-dd39-11e7-9efc-f4d990b6f203.png)

where we want the ones that are defined in the yaml file

![image](https://user-images.githubusercontent.com/656739/33800534-58788180-dd39-11e7-9235-a89ffceb71f1.png)

[2017-12-09 23:34] #61 closed

[2017-12-09 23:36] DinisCruz commented on #61
Now it looks like this

![image](https://user-images.githubusercontent.com/656739/33800543-c11438ba-dd39-11e7-860c-de7ca6753824.png)

![image](https://user-images.githubusercontent.com/656739/33800545-cb09b5fc-dd39-11e7-8081-5a77ff74d073.png)

[2017-12-09 23:44] Abhi-Raj commented on #54
Closed. https://github.com/photobox/pbx-group-security/labels

[2017-12-09 23:44] #54 closed

[2017-12-09 23:56] DinisCruz commented on #58
Done

![image](https://user-images.githubusercontent.com/656739/33800670-8e7eb774-dd3c-11e7-8453-21bc99506985.png)

[2017-12-10 00:27] DinisCruz opened #62 "Contact us is broken"
![image](https://user-images.githubusercontent.com/656739/33800825-ce75eefc-dd40-11e7-80c0-f6c6bd913f6f.png)

[2017-12-10 00:28] #62 closed

[2017-12-10 00:56] #58 closed

[2017-12-10 00:59] DinisCruz commented on #48
@rajendira  can you create individual issues for the ones that are not done? (and mark them as bugs or content issues)

[2017-12-10 02:17] Abhi-Raj commented on #48
other than the tasks listed here, are there any other tasks in org. confluence which we need to pull? -> http://confluence.photobox.com/display/SEC/Issues+for+Dinis+to+fix

Currently, don't have access to the internal site

[2017-12-10 03:24] Abhi-Raj opened #63 "Update social icons"
Update social icons Photoboxgroup_mailLogo50pxRGB.png, Photoboxgroup_githubLogo50pxRGB.png, Photoboxgroup_twitterLogo50pxRGB.png

[2017-12-10 03:24] Abhi-Raj opened #64 "Remove the requirement for images in testimonials"
Remove the requirement for images in testimonials - in chrome, this is not shown, on safari, I see a broken image icon

[2017-12-10 03:25] Abhi-Raj opened #65 "Remove blog listing from footer"

[2017-12-10 03:25] Abhi-Raj opened #66 "Favicon won't update"

[2017-12-11 16:28] DinisCruz opened #69 "Missing cache reset on /challenges pages"
Issue with cache refresh on a couple pages on pbx-group.security.com

The _aws/s3-sync.sh file already has the solution for this

[2017-12-11 16:41] DinisCruz opened #70 "Images are too big (in Hugo)"
We need a solution to control the size of images

for example in https://pbx-group-security.com/challenges/soc-engineer/

![image](https://user-images.githubusercontent.com/656739/33842311-13600a32-de92-11e7-8f0a-44303e35b947.png)

[2017-12-11 21:17] fzipi commented on #65
PR #72 solved this one.

[2017-12-11 22:13] fzipi commented on #63
@Abhi-Raj Are this icons going into the topbar? In that case, we need to adapt the top bar size. See example below:
![social example](https://user-images.githubusercontent.com/3012076/33856544-398521c4-dea7-11e7-9afb-eb95a4709e49.png)

[2017-12-11 22:23] fzipi commented on #66
There are many sizes of favicon required in this theme:
[code]
And there is one `favicon.ico` in the `static/img` folder which isn't linked anywhere.

So, are there any other favicon images of some quality that we can use? Vectorial maybe?

With that it can easily generate favicon for a variety of display sizes.

If you just want a favicon, we can use the one provided and just comment out all thos

[2017-12-11 22:34] fzipi commented on #64
@Abhi-Raj I've fixed this one. But you need *first* to upload 3 images for each avatar:

- `static/img/testimonials/person-1.jpg` will be Jemma
- `static/img/testimonials/person-2.jpg` will be You
- `static/img/testimonials/person-3.jpg` will be Ann-Marie

Then you can merge PR #73 to solve this one.

[2017-12-12 01:07] fzipi commented on #64
As @DinisCruz merged the previous PR (#73 ) and merged it, I made a new PR (#74) using pictures from github & web. I'm sure that those pictures can be replaced with some others with more quality...

[2017-12-12 01:10] fzipi commented on #50
There is no need to setup anything, as amber templates are supported by hugo without additional magic.

For each  amber template, it will be compiled to html and included.

One thing that you have now is that your base templates are hugo templates, and if want to convert it will take some time...

[2017-12-12 01:18] fzipi opened #75 "No changes on live site after changing images"
I tried to force updating, but don't know if update can be forced (maybe /update).

After merging PR #74, no update happened.

[2017-12-12 01:38] fzipi opened #76 "Categories list show no images and list twice"
Categories are not showing correctly. Images on the left are not shown, and the list is repeated.

![gdpr](https://user-images.githubusercontent.com/3012076/33862932-04b264e4-dec4-11e7-846a-1971c38a0690.png)

[2017-12-12 01:43] fzipi opened #77 "Same labels for tags and categories are confusing"
Some posts have the same tags and categories, and is somewhat confusing.

We should use tags and categories different, for example:

tags: ["GDPR", "Data Protection"]
categories: ["CyberSecurity"]

This way you always have two level of information clasification.

[2017-12-12 01:54] fzipi commented on #75
Well, seems it had an important delay... now the pictures are correct. I'm closing this one.

[2017-12-12 01:54] #75 closed

[2017-12-12 02:03] fzipi commented on #76
Well, now I see correctly all images. I'm assuming something happened because #75 is solved also.

Anyway, I suggest to just use the big list as the attached image.

![screenshot-2017-12-11 blogs](https://user-images.githubusercontent.com/3012076/33863583-352a5da4-dec7-11e7-8e54-856df8d6ec2b.png)

[2017-12-12 02:16] fzipi opened #79 "Ordering the site images"
It will be good if we can have subdirectories for images, so it's easier afterwards to know where to save each file.

I propose to use one directory per "content type", for example:

- Save blog banner images in '/img/blog'
- Save challenges images in '/img/challenge'
...
And so on.

It will be easy for others also after creating content to follow this simple rules to know where to put each file,

[2017-12-12 03:41] fzipi commented on #45
The icons in the default theme are in the topbar. You just need to enable it.

![screenshot-2017-12-12 photobox group security](https://user-images.githubusercontent.com/3012076/33866373-1e9e2e68-ded5-11e7-83c3-9bd99759c751.png)

Related to #63.

[2017-12-12 04:50] Abhi-Raj opened #80 "Team Title in Testimonials needs some work"
![image](https://user-images.githubusercontent.com/33575821/33867891-85cfd4ea-decd-11e7-8c4d-f0e47b5f6f69.png)
Highlighted items need some work

[2017-12-12 04:58] Abhi-Raj commented on #66
@fzipi - Let me check the favicons with designer and come back

[2017-12-12 05:02] #65 closed

[2017-12-12 09:59] JemmaDSmith commented on #80
Vote of 2 is that we remove images so that the text flows better

[2017-12-12 10:01] JemmaDSmith commented on #79
Please go ahead

[2017-12-12 10:28] JemmaDSmith commented on #45
How do we enable?

[2017-12-12 10:29] JemmaDSmith commented on #48
Here is the list from the page:

Contact page gives 404
Favicon won't update
Remove blog listing from footer
Identify what the random green box links are and where they are coming from and get rid (see under address in footer for example)
Remove the requirement for images in testimonials - in chrome this is not shown, on safari I see a broken image icon
Update social icons Photoboxgroup_mailLogo50

[2017-12-12 12:42] fzipi commented on #80
You can always resume text to flow better. But if you want I can make images not be shown at all.

[2017-12-12 12:45] fzipi commented on #45
Easy: in file `config.toml`, around line 105,

[code]

[2017-12-12 12:50] JemmaDSmith commented on #45
Actioned

[2017-12-12 12:51] #45 closed

[2017-12-12 13:00] JemmaDSmith commented on #80
Yes please

[2017-12-12 20:32] fzipi commented on #80
I've committe efb797e to hide images in testimonials. The text "Group Security Operations Manager" is wider than the space assigned so it continues on the next level.  Should we increase the box width or decrease the text length?

[2017-12-12 20:58] fzipi commented on #79
I've created PR #83 for this. Please let me know if it works for you.

Now I will do the actual reordering.

[2017-12-12 21:15] fzipi commented on #79
PR #84 does the actual reordering of files and images in front matter.

[2017-12-12 21:18] #76 closed

[2017-12-12 21:20] fzipi commented on #64
There are no more images in testimonials per #80 , so we can close this one.

[2017-12-12 21:20] #64 closed

[2017-12-12 21:25] fzipi opened #85 "Will internationalization be needed? (i18n)"
I'm assuming that all texts should be in English, am I right?

[2017-12-12 21:41] fzipi commented on #70
I've added a `<figure>` shortcode to fix the size in PR #86. Can add a `class` to that shortcode also, but maybe these particular images won't be seen good in responsive class.

[2017-12-12 22:57] fzipi commented on #69
I see that you are invalidating caches in `_aws/s3-sync.sh`. What happens if an image was changed? Should't the 'img' directory be invalidated? And if in the future there is a 'pdf' directory?

Also that could explain why I was seeing images not updated after pushing, but after a while they were good again...

[2017-12-12 22:59] fzipi commented on #55
Now that I see this one, maybe we can merge the CONTRIBUTING with the README, and add all there.

[2017-12-13 11:22] DinisCruz commented on #59
here are some examples of what happens when we run the site offline

![image](https://user-images.githubusercontent.com/656739/33936529-ca9cb284-dff7-11e7-9859-0e47cbc59520.png)

![image](https://user-images.githubusercontent.com/656739/33936542-d2f6eab2-dff7-11e7-8c2b-fe0db4985ba4.png)

[2017-12-13 11:43] DinisCruz opened #87 "remove top banner from site"
Since some of the links are broken and it is not shown on all pages

![image](https://user-images.githubusercontent.com/656739/33937283-c47a7cf8-dffa-11e7-83d4-e7e090a7c068.png)

the links to github should be on the Dev pages and the links to social media can be added to the bottom or to the contacts page

[2017-12-13 15:25] Abhi-Raj opened #88 "Blogs Page - Fixing "Read More" (Green Box link) identifier"
![image](https://user-images.githubusercontent.com/33575821/33946447-d360dc0e-dfef-11e7-8802-0cd55e6cc683.png)
Please review the red highlighted button and fix it with "Read more" tag or something better for the blogs.

Also, identify if there are any other random green box links in the portal and if so identify the root cause (where they are coming from and get rid of those).

[2017-12-13 15:27] Abhi-Raj commented on #85
@fzipi - yes, please. All the text across the website should be in English

[2017-12-13 15:33] Abhi-Raj commented on #80
@fzipi - was any modification done on (increasing the box width / decrease the text length)? I believe the longest title would be that of Jemma which now is looking good without an image. Hopefully, we should not get into trouble anytime soon

[2017-12-13 15:50] Abhi-Raj commented on #48
Multiple individual issues created from this issue. Closed.

[2017-12-13 15:50] #48 closed

[2017-12-13 16:14] Abhi-Raj commented on #66
@fzipi We can use this consistently (https://github.com/photobox/pbx-group-security/blob/master/static/img/favicon.ico). If we need a higher resolution of this icon, can ask our designer to share.

[2017-12-13 17:07] fzipi commented on #88
Well, I found the problem. i18n.

@DinisCruz Reviewing the theme, seems that the theme was copied from the universal directory to layout directly.

Usually the way of doing this is a little different: I normally use the original theme unchanged, and then alter layouts and static images from the base directory. I use git submodules for updating the theme, but ymmv.

In summary: copied from the univ

[2017-12-13 17:08] fzipi commented on #88
Also, now proper "seach" "categories" and "tags" labels are showing up 🙂

[2017-12-13 17:09] fzipi commented on #80
No, not modified at all. If it's good for you, it's good for me.

[2017-12-13 17:16] DinisCruz opened #90 "Write blog post on content from 'On being lost'"
https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec

[2017-12-13 17:56] fzipi commented on #59
Referenced PR solved this one.

[2017-12-13 18:02] fzipi commented on #46
I like https://staticman.net/, which gives you on PR for each comment on your site. Is like having the same flow but for comments. For hugo is here: https://github.com/eduardoboucas/hugo-plus-staticman.

[2017-12-13 18:13] fzipi commented on #66
Fixed favicon in commit 3781d57.

[2017-12-13 18:47] #66 closed

[2017-12-13 18:47] #59 closed

[2017-12-13 18:49] #80 closed

[2017-12-13 18:51] #88 closed

[2017-12-13 18:53] Abhi-Raj commented on #90
@DinisCruz Kindly share some of your viewpoints which you would like to get covered here. I will take the first cut on this along with your thoughts.

[2017-12-13 19:02] Abhi-Raj opened #92 "Image *thumbnails and image within the blog* needs to follow a sizing standard"
![image](https://user-images.githubusercontent.com/33575821/33956774-a08355f0-e00d-11e7-8af2-d42cbae66437.png)

a. Currently, thumbnails of the blog (https://pbx-group-security.com/blog/) have different shape and size. Needs to be consistent on the website.

b. Image size within each blog is different and doesn't look standardized. Needs some tuning and should be symmetrical in nature. <example a:

[2017-12-14 03:25] fzipi commented on #50
Furthermore, in this case that we already have templates available, can be difficult to change to amber.

[2017-12-14 03:45] fzipi commented on #92
The a) case is the blog listing. All images are trated as responsive, but the chosen image is too small and can't be upsized without losing quality. Therefore I changed that one for the same as the post above. If there is no image to supply for the banner of a blog entry, it will use the 400x400 placeholder.

In the b) case, the template for the blog page is showing the banner. But the original do

[2017-12-14 12:36] #92 closed

[2017-12-14 12:38] DinisCruz opened #94 "dev site is broken (resources don't load)"
![image](https://user-images.githubusercontent.com/656739/33992680-7b11fb46-e0cb-11e7-9465-9573d417367e.png)

caused by trying to load resources from https://pbx-group-security.com

These resources should be loaded from the local server, not the main site)

[2017-12-14 12:40] DinisCruz opened #95 "Links in dev site point to main site"
for example in the roles page one of the jobs links should go to http://dev-pbx-gs.com/roles/headofappsec/ and not https://pbx-group-security.com/roles/headofappsec/

![image](https://user-images.githubusercontent.com/656739/33992828-fa963364-e0cb-11e7-960f-ba98114b4c6f.png)

[2017-12-14 13:25] DinisCruz commented on #94
Changing the baseurl value seems to have fixed this https://github.com/photobox/pbx-group-security/commit/4676bccf2cac94dce6f4df315f5e136a06a221cf

[2017-12-14 13:25] #94 closed

[2017-12-14 13:25] DinisCruz commented on #95
fixed by https://github.com/photobox/pbx-group-security/commit/4676bccf2cac94dce6f4df315f5e136a06a221cf

[2017-12-14 13:25] #95 closed

[2017-12-14 13:27] DinisCruz opened #98 "Create pages ‘How to apply’, ‘How to use GitHub to submit challenges responses’"
We probably need an FAQ section

[2017-12-14 14:41] fzipi commented on #79
As both PRs were merged, I think we can close this one.

One of the nice things of having a contributing file is that github will show the text `Before you submit a pull request please review the contributing guidelines for this repository. ` with a link to the contributing file.

[2017-12-14 14:41] #79 closed

[2017-12-14 14:48] fzipi commented on #87
@DinisCruz To hide the top bar, just use this setting in `config.toml`:
[code]

The social icons can be placed at the bottom.

[2017-12-14 16:02] fzipi commented on #60
You can have two configs, e.g. `config.toml` for production as it is now, and create another one `config-dev.toml`. In that case, each webhook can trigger one config or another...

[2017-12-14 16:03] fzipi commented on #85
Fine, that is how it is now, so no need to add anything. I'm closing this one.

[2017-12-14 16:03] #85 closed

[2017-12-14 16:20] fzipi commented on #46
If you want to use disqus, just add `disqusShortname` to config.toml, at the same level of googleAnalytics.

[code]

[2017-12-14 17:55] fzipi opened #99 "Consolidate assets to minimize requests"
@DinisCruz wrote:

We will need to include gulp in our pipeline. It should be used just for dev.

[2017-12-14 17:58] fzipi opened #100 "Remove Bootstrapious reference at the end of the pages"

[2017-12-14 18:02] fzipi commented on #100
Well, this link is needed as per author conditions in the license:
[code]

[2017-12-15 14:40] fzipi commented on #77
Added 54fecec to CONTRIBUTING.md, this can be closed now.

[2017-12-15 14:40] #77 closed

[2017-12-15 16:32] Abhi-Raj commented on #100
@DinisCruz - We should keep this in my opinion. Can we relax this requirement?

[2017-12-16 01:24] Abhi-Raj opened #102 "Updates to the contact page"
contacts page need to link to our social media presence
- gs linkedin and twitter
https://twitter.com/pbg_security
https://www.linkedin.com/groups/12079174

- personal twitter accounts (for the ones that are happy to publish it)
Dinis Cruz - https://twitter.com/DinisCruz
Abhi Raj - https://twitter.com/_Abhiraj_
@JemmaDSmith - Twitter to be updated

[2017-12-16 06:28] fzipi commented on #102
Contact page updated.

[2017-12-16 11:12] #87 closed

[2017-12-16 11:13] DinisCruz commented on #87
ok, just changed it so that the top banner doesn't show anymore

![image](https://user-images.githubusercontent.com/656739/34069917-1ee28916-e252-11e7-8d54-d2237ce643ee.png)

[2017-12-16 11:13] DinisCruz commented on #87
this is what it looks like now
![image](https://user-images.githubusercontent.com/656739/34069925-3298ce48-e252-11e7-89d4-2e1093c266d0.png)

[2017-12-16 14:51] DinisCruz commented on #102
Hi @JemmaDSmith what twitter handle do you want to use?

[2017-12-16 16:06] DinisCruz opened #103 "Add link to edit an page at the bottom of the page"
this makes it easier to edit content when just using the web (and github)

[2017-12-16 16:07] DinisCruz opened #104 "Remove labels that are not relevant"
for example these

![image](https://user-images.githubusercontent.com/656739/34072216-23276536-e27b-11e7-8c1d-1e192f13fe59.png)

[2017-12-16 16:59] fzipi commented on #103
Created PR #105 for this.

![screenshot from 2017-12-16 13-57-39](https://user-images.githubusercontent.com/3012076/34072623-4d191a90-e269-11e7-809d-04ee64ccb1e3.png)

Tried to keep the look and feel from the site.

[2017-12-16 18:27] fzipi commented on #104
Removed the A* labels.

[2017-12-17 12:50] #103 closed

[2017-12-17 14:38] DinisCruz commented on #70
this is fixed

@Abhi-Raj can you keep an eye on issues like this to make sure they are closed when done

[2017-12-17 14:38] #70 closed

[2017-12-17 14:39] DinisCruz opened #106 "Add GA tracking to 404"
And see if we can get the referal info (idea is to understand if we have broken links in the site)

Which can happen initially as we move content around

https://pbx-group-security.com/blog/aaaaa

[2017-12-17 14:40] DinisCruz opened #107 "Publish daily/weekly stats from GA and disqus"
And other stats we have

The daily can be done on the GS-CST slack channel

The weekly should be done as blog posts in this site

[2017-12-17 14:41] DinisCruz opened #108 "Ensure that S3 Object logging in enabled (for site) and create zip with its content"
This will give data for Orid's ELK setup

[2017-12-17 14:42] DinisCruz commented on #63
this is not relevant any more since we don't have the top bar

[2017-12-17 14:42] #63 closed

[2017-12-17 14:45] DinisCruz opened #109 "Create Challenges templates so that they be reused in multiple pages"
At the moment we only have two challenges pages (and we need a lot more)

https://pbx-group-security.com/challenges/infosec-officer/
https://pbx-group-security.com/challenges/soc-engineer/

To make this scale we need to create templates so that one challenge can be reused in multiple roles

[2017-12-17 14:59] DinisCruz opened #110 "Search is broken"
The fix for #95 broke the search

![image](https://user-images.githubusercontent.com/656739/34080745-daab7048-e33a-11e7-89db-6ff1a0faa1ef.png)

[2017-12-17 15:01] DinisCruz commented on #104
done
![image](https://user-images.githubusercontent.com/656739/34080770-211f89ce-e33b-11e7-9174-ac45435c8ecb.png)

[2017-12-17 15:01] #104 closed

[2017-12-17 16:36] fzipi commented on #110
@DinisCruz For the dev site I usually end having two configs. For example, having a `config-dev.toml` with `baseURL: dev-...`, and keep `config.toml` for production. Then in your dev webhook you end running `hugo --config config-dev.toml`. Also in dev is normal to have an empty GA code in the same config.

[2017-12-17 16:38] fzipi commented on #106
Done in ad98d9ab1d85d2b4ec30d7c90d16a0c39ed66fff.

[2017-12-17 16:41] fzipi commented on #46
We settled on using disqus.

[2017-12-17 16:41] #46 closed

[2017-12-17 16:52] fzipi commented on #60
@DinisCruz For solving #110 , the CI pipeline has to take into account different configs.

So, I think in the `buildspec.yml` we need to input config as a parameter/env var,

[code]

So HUGO_CONFIG will point to each different config per build. Or if we are talking about branches, just use `config.toml` when branch is `master`, or use `config-dev.toml` as default for all other branches.

[2017-12-17 20:07] #106 closed

[2017-12-17 22:16] DinisCruz opened #114 "Need to improve default images on blog"
maybe having a library of images that we can use?

https://pbx-group-security.com/blog/

[2017-12-17 22:17] DinisCruz commented on #110
yeah that makes sense. I'll try to update the CI server script (which is running inside docker)

[2017-12-17 22:49] DinisCruz opened #115 "Twitter and LinkedIn blog post thumbnails are not working"
**Twitter**

![image](https://user-images.githubusercontent.com/656739/34084670-6d61aeac-e37c-11e7-8621-8997393884c9.png)

**LInkedIn**

![image](https://user-images.githubusercontent.com/656739/34084677-85e4a498-e37c-11e7-9402-f0212468582b.png)

[2017-12-18 00:30] fzipi commented on #114
I've been using high quality CC photos from [unsplash](https://unsplash.com/).

[2017-12-18 00:32] DinisCruz opened #116 "Refactor roles table using partials"
So that this code is not duplicated

![image](https://user-images.githubusercontent.com/656739/34085580-ea74e446-e38a-11e7-951a-57cb6b0f4b1b.png)

here is what the page looks like (with both sets of tables)

![image](https://user-images.githubusercontent.com/656739/34085589-0b575310-e38b-11e7-92d5-19e408d1e57e.png)

[2017-12-18 01:27] DinisCruz commented on #115
We also need to fix this one  (on the roles page)

![image](https://user-images.githubusercontent.com/656739/34086297-aa94f944-e392-11e7-97c4-35c61cae794a.png)

[2017-12-18 02:23] fzipi commented on #99
I've added PR #117 to fix this.

@DinisCruz I've left out images for now, because it will require execution of `gulp` for each added image using `imagemin`. And we don't have the CI setup to do that right now.

[2017-12-18 02:23] fzipi commented on #50
I think this can be closed.

[2017-12-18 02:23] #50 closed

[2017-12-18 02:31] fzipi opened #118 "Add support for minimizing images in the CI pipeline"
As we need to minimize images, and editors won't be executing gulp, we need to do one of:

- update the CI pipeline with the execution of gulp, whenever an image is added.
- create and additional lambda funcion in aws to do this

This changes the directory where editors should put images: they must use `src/images` from now, maintaining the subdirectory structure proposed originally. The chosen so

[2017-12-18 02:52] fzipi commented on #116
Added 0205309 for this. It bothers me that both `contractor type` aren't aligned... I'll see this tomorrow.

[2017-12-18 02:54] fzipi commented on #115
For image in twitter, you need to add an `image:` to the front-matter. For the linkedin, let me see if it is another card format.

[2017-12-18 03:17] fzipi commented on #115
Algo, if you add your twitter handle (as the author of the post) it will be presented in the card. Just add `twitter: <your handle>` (without `@`).

[2017-12-18 03:28] fzipi commented on #115
Well, it seems that we only need and `images:` in each post. As there is no images, hugo uses the 'Params.logo' defined in the config.toml. But that image was relative. I changed it to absolute.

[2017-12-18 09:01] #99 closed

[2017-12-18 09:47] DinisCruz opened #119 "Site CSS is broken"
![image](https://user-images.githubusercontent.com/656739/34099793-70e39822-e3d8-11e7-9882-aeab37508d70.png)

[2017-12-18 09:52] DinisCruz commented on #119
fixed with https://github.com/photobox/pbx-group-security/commit/bb83ed11e03264eaf697fa23049652a6b9bc3eac

[2017-12-18 09:52] #119 closed

[2017-12-18 12:09] fzipi commented on #119
@DinisCruz I changed both the `config.toml` *and* the URLs, because locally it was making two additional requests (the first was a redirect from //all.js to /all.js), so I take out the extra '/'. Going live it was lacking that one.

[2017-12-18 14:45] DinisCruz opened #122 "remove image that is taking 50% of page load size"
And doesn't seem that is being used

![image](https://user-images.githubusercontent.com/656739/34111573-086b0418-e402-11e7-8453-dc6dabd0f76e.png)

https://pbx-group-security.com/img/photogrid.jpg (it's 436k)

[2017-12-18 15:02] fzipi commented on #122
@DinisCruz The photogrid is being used. Is the background in the carousel. Maybe we can resize or compress it.

[2017-12-18 15:23] DinisCruz opened #124 "normalise (and compress) blog images"
![image](https://user-images.githubusercontent.com/656739/34113045-5e6aa4fa-e406-11e7-9c16-5af8210ba9b7.png)

[2017-12-18 16:22] DinisCruz opened #125 "Improve printing page"
For example it would be good to show a banner

![image](https://user-images.githubusercontent.com/656739/34116161-a40cfc20-e40f-11e7-88b9-b86667395d81.png)

[2017-12-18 16:34] fzipi commented on #124
I have this working, but GH is hanging on me each time I try to do a push.

![screenshot from 2017-12-18 13-31-18](https://user-images.githubusercontent.com/3012076/34116619-edcb672e-e3f7-11e7-95cf-ee0e5c0c9b01.png)

Most images were compressed up to 60%. I pushed both the source and destination folders until we solve the CI. Will try again in a minute.

[2017-12-18 17:39] fzipi commented on #124
PR #126 has images minimized (not normalized).

[2017-12-18 17:55] fzipi commented on #124
Good, after merging we are at 85/100!

![screenshot from 2017-12-18 14-53-39](https://user-images.githubusercontent.com/3012076/34120144-61309c60-e403-11e7-9b17-a8cf113dd02b.png)

[2017-12-18 19:27] fzipi commented on #110
Now, when merging PR #117, we have the full baseURL again in our config. I think we can enable the search again, so that is what i will try.

[2017-12-18 20:15] fzipi commented on #110
Search is working again. I uncommented the partial in sidebar.html (d236612).

Search can be disabled in the `config.toml` setting:
[code]

[2017-12-19 01:51] fzipi commented on #115
@DinisCruz So, after adding `images:`, twitter is working. The problem with roles content type is that there are no images to show by default.

So, if we need to publish a nice roles page in linkedin, then we need cool images...

[2017-12-19 02:09] fzipi commented on #115
Here is how I see now the post in linkedin:
![screenshot from 2017-12-18 23-08-10](https://user-images.githubusercontent.com/3012076/34137209-6d394cb0-e448-11e7-9829-8f0fb0c59f71.png)

[2017-12-19 02:45] fzipi commented on #115
Solved. Now linking from social media is consistent in imaging, title, and summary.

![screenshot from 2017-12-18 23-43-24](https://user-images.githubusercontent.com/3012076/34138243-550223b0-e44d-11e7-86fc-2df644d20481.png)

[2017-12-19 03:35] fzipi commented on #125
I've added in 3233f2a a partial for printing some banner. Right now is printing the logo, but not nicely. Please choose a nice image for printing first 🙂

[2017-12-19 14:53] #110 closed

[2017-12-19 15:33] fzipi commented on #107
@DinisCruz Daily stats can be pushed using [Arc](https://gs-cst.slack.com/apps/A0G0Q15F1-arc) or using http://datacard.io/.

[2017-12-19 22:48] DinisCruz opened #127 "Add page that points to brand websites"
and explain better what is PhotoBox group, Photobox, Moonpig, Hofmann and posterXXL

[2017-12-20 12:29] zsofiasomlai opened #129 "Add subscribe button to website"

[2017-12-20 14:19] fzipi commented on #129
@zsofiasomlai It would be nice to know where to subscribe...

[2017-12-20 14:59] zsofiasomlai commented on #129
Sorry... very new to this. We were just chatting with Dinis that once there's enough content on the blog, we should offer the option for visitors to subscribe and get a notification when new content is published, or if there will be a lot of content going up, maybe just get a notification about highlighted pieces.

[2017-12-20 15:04] fzipi commented on #129
Don't worry. Just to know if there is something that should be made, or if was just a "reminder". Right now there is an RSS feed generated by default with the content, that gets updated when there is new content....

[2017-12-21 11:59] JemmaDSmith commented on #127
https://pbx-group-security.com/about-us/

[2017-12-21 11:59] JemmaDSmith commented on #127
@fzipi can you add to top nav menu?

[2017-12-21 12:01] JemmaDSmith commented on #122
@fzipi can you replace with pbx-group-security/static/img/Photoboxgroup_carouselimgRGB.png

[2017-12-21 13:06] fzipi commented on #127
Done in 067d1c3.

[2017-12-21 13:12] fzipi commented on #122
Replaced in b3a092e.

[2017-12-21 18:15] #122 closed

[2017-12-22 09:16] JemmaDSmith opened #131 "remove page formatting from https://pbx-group-security.com/roles/why-photobox/"
https://pbx-group-security.com/roles/why-photobox/ is inheriting roles layout

[2017-12-22 14:00] #127 closed

[2017-12-22 15:48] fzipi commented on #131
@JemmaDSmith The new url is https://pbx-group-security.com/page/why-photobox/.

Every file you put into the 'content' directory willl be listed with the same url prefix of that directory, excepting blog posts.

For example, if you move a file to '/content/page', will be published as '/page/<pagename>'. For blogs is a little bit different, but that happens because we configured to use dates in the

[2017-12-22 16:31] #131 closed

[2017-12-22 16:32] #100 closed

[2017-12-22 16:34] JemmaDSmith commented on #125
@fzipi do you have an image spec?

[2017-12-22 16:35] JemmaDSmith commented on #124
I've asked Javier to create blog graphics

[2017-12-22 16:36] JemmaDSmith commented on #116
@fzipi can we close issue?

[2017-12-22 16:38] JemmaDSmith commented on #115
@fzipi do we need designs for the roles? We can brief design requirements in cx-design slack channel. Javier knows our look, feel and pallet

[2017-12-22 16:39] JemmaDSmith commented on #114
pixabay.com and pixels.com are good sources of CC images too.

Shall we ask Javier to come up with a bank of images around categories and labels?

[2017-12-22 16:41] JemmaDSmith commented on #102
@DinisCruz I don't have one that suits this audience, my professional one is @jemarketinguk but this relates to marketing content. Let me know if you need me to create a new one

[2017-12-22 18:13] fzipi commented on #115
@JemmaDSmith I would like that the roles should have nice designs, yes.

[2017-12-22 18:14] fzipi commented on #116
Yes!

[2017-12-22 18:14] #116 closed

[2017-12-22 18:23] fzipi commented on #125
I think for an A4 print a nice header will be around 540 x 120px.

[2017-12-27 16:01] JemmaDSmith opened #139 "Remove blog search from https://pbx-group-security.com/about-us/"
Clean up about us page and remove blog search and categories from bottom of page

[2017-12-27 17:33] fzipi commented on #139
Changed in 90d15a5. I don't know why that page was using the '_index.md' format.

If you want to create a "page" like the about one, just create it under '/content/page' and use the 'url:' in the front matter to create the url you want to.

[2018-01-01 21:51] DinisCruz opened #140 "broken link in blog link"
The Recruitment link goes to https://pbx-group-security.comcategories/recruitment

![image](https://user-images.githubusercontent.com/656739/34471316-f4e6f860-ef3d-11e7-8c2b-4f41b00c4773.png)

[2018-01-01 21:52] DinisCruz opened #141 "The author link goes to #"
i.e. to https://pbx-group-security.com/blog/#

in

![image](https://user-images.githubusercontent.com/656739/34471318-0cdf98a0-ef3e-11e7-9dc0-f8ff83cc5062.png)

[2018-01-01 22:41] fzipi commented on #141
@DinisCruz Where do you want the link from the authors go? To a page with all your posts/content? Your social networks?

[2018-01-01 22:44] #140 closed

[2018-01-01 23:57] DinisCruz opened #142 "What happened to the package.js file"
I was looking at running gulp and noticed that this file was missing

[2018-01-02 01:58] #142 closed

[2018-01-02 01:58] #139 closed

[2018-01-02 22:25] DinisCruz opened #144 "find way to align the cards to the end of the row"
in

![image](https://user-images.githubusercontent.com/656739/34502549-d6ab42d8-f00b-11e7-9f9d-2ef3656538f2.png)

[2018-01-02 22:35] fzipi commented on #144
@DinisCruz Vertical align: top, middle, bottom?

[2018-01-03 15:43] fzipi commented on #107
We have reached our limit for apps in Slack, so we need to change plan or delete something...

[2018-01-03 16:38] Abhi-Raj commented on #107
@fzipi have cleaned few applications which we didn't use. We should be able to get new apps tested.

[2018-01-03 16:43] #102 closed

[2018-01-03 18:13] fzipi commented on #107
Good, after that I added arc to send daily analytics to the slack channel.

[2018-01-03 22:12] fzipi commented on #141
I created PR #146 which solves this. Now I've added authors as a taxonomy.

Be aware that now the blog content author should be in an array named 'authors'. e.g:
`
authors: ["Dinis Cruz"]
`

[2018-01-04 08:46] DinisCruz commented on #125
Btw, the challenges pages all print ok (did a bunch of CSS hacks to make it work)

[2018-01-04 20:28] JemmaDSmith opened #148 "compliance area not showing on https://pbx-group-security.com/challenges/"

[2018-01-05 00:21] DinisCruz commented on #144
the idea is that the boxes should all have the same size

Same prob here

![image](https://user-images.githubusercontent.com/656739/34590399-608e79d6-f1ae-11e7-974e-750f36d65ae1.png)

[2018-01-05 00:22] DinisCruz commented on #144
I think the solution is something related to flex https://yoksel.github.io/flex-cheatsheet/

[2018-01-05 11:27] DinisCruz opened #149 "Add footer note to website with reference that all content is released under CC-SA"
CC Share Alike license

Idea is to make it obvious that the content is being released for the community (and that all content contributions must be done using the same licence)

On that note, can we add that reference to the Contributor agreement?

[2018-01-05 11:32] DinisCruz opened #150 "Write blog post about why we are releasing the content under CC"
https://github.com/project-cx/pbx-group-security/issues/149

@Abhi-Raj can you write this, or find somebody to do it?

[2018-01-05 11:40] DinisCruz commented on #148
This is done

[2018-01-05 11:40] #148 closed

[2018-01-05 12:27] fzipi commented on #149
Do you prefer in the footer: ![screenshot from 2018-01-05 09-21-01](https://user-images.githubusercontent.com/3012076/34609039-d3d62588-f1f9-11e7-881a-9609ed05658e.png)

Or before:
![screenshot from 2018-01-05 09-26-49](https://user-images.githubusercontent.com/3012076/34609233-a6e3e032-f1fa-11e7-9f9c-cb4328ae4ffb.png)

[2018-01-05 12:29] fzipi opened #151 "Change hugo templates to baseof and defines"
We are repeating for each content all the default template, and it is not needed.

The solution is to change to a main baseof.html. and just rewrite each part using defines.

I will post and example here, and create a branch afterwards.

[2018-01-05 12:33] fzipi commented on #151
This is a classic `baseof.html` template:
[code]
Then in each `single.html`, you only do:
[code]
So there is no need to repeat all again. Just the content part.

[2018-01-05 14:33] zsofiasomlai opened #152 "Trust connections - take down article"
Hi Dinis,

Just sent you a separate email about this, as I mentioned it on the team meeting, I think we have to take this piece down: https://pbx-group-security.com/blog/2017/12/15/using-trust-connections-for-referrals/

Thanks,

Zsofi

[2018-01-05 14:40] zsofiasomlai opened #153 "Suggested changes to the 'Roles' page"
When you click on the apply 'here' button, for all the 'Head of' roles it takes you to a LinkedIn page that says 'This job is no longer accepting applications' so if you still want people to apply, make sure to change those links on the page as well as the deadline on LinkedIn :)

Also, the other roles that don't take you to LinkedIn, they just automatically start an email, so I think it would be

[2018-01-05 14:41] zsofiasomlai opened #154 "Suggested changes to the 'Challenges' page"
The current description reads to me as if I don't see a job I like, I should start solving some challenges. As you can just click on editing any of the challenges, I think that's confusing. Try adding in a line to describe how this is a full list of all the current challenges, but if anyone is interested in working here, they should head along to the Roles page and if they get in touch there, they

[2018-01-05 18:53] JemmaDSmith opened #155 "insert html into md"
pbx-group-security/content/page/rules-of-engagement.md

Google tells me it is possible to add inline html into md

https://stackoverflow.com/questions/14951321/how-to-display-html-content-in-github-readme-md

What am I doing wrong?

[2018-01-05 18:56] fzipi commented on #155
@JemmaDSmith You are mixing templates and content :)

That code is for the templates, it has go templates code in it. What do you want to do?

[2018-01-05 18:57] JemmaDSmith commented on #155
insert the contract roles into this page

[2018-01-05 18:57] fzipi commented on #155
Good. Let me create a layout for that.

[2018-01-05 20:57] #155 closed

[2018-01-06 03:24] DinisCruz commented on #154
Great point, I agree

I'm working on a new  version of this page

[2018-01-06 03:30] DinisCruz commented on #153
Thanks for catching that (the job had been reposted on LinkedIn and we didn't notice)
This has been fixed

We are going to fix this so that all job posts go to LinkedIn @JemmaDSmith is working on this

[2018-01-06 03:41] DinisCruz commented on #152
done, this page is not there anymore

![image](https://user-images.githubusercontent.com/656739/34636154-69a12b3c-f293-11e7-9d81-bcf42e63f3bb.png)

[2018-01-06 03:41] #152 closed

[2018-01-06 03:44] DinisCruz commented on #125
Closing this since I'm quite happy with the current page print (@fzipi can you open an separate issue
 for https://github.com/project-cx/pbx-group-security/issues/125#issuecomment-353651210 )

![image](https://user-images.githubusercontent.com/656739/34636169-c7d42786-f293-11e7-9646-757362ac8c31.png)

[2018-01-06 03:44] #125 closed

[2018-01-06 03:44] DinisCruz opened #156 "project-cx logo"
we need one

[2018-01-06 03:46] DinisCruz opened #157 "Improve top banner"
this one:

![image](https://user-images.githubusercontent.com/656739/34636192-119d070c-f294-11e7-8c22-dbc1a90b0899.png)

Would be nice to see a couple ideas/alternatives

[2018-01-06 03:48] DinisCruz opened #158 "make RSS feed for site visible (maybe at the end of the home page?"
related to #129

[2018-01-06 03:49] DinisCruz commented on #129
We can do this now for blogs since that is where we can add news and other items (and it will be easier for the users to subscribe)

[2018-01-06 03:53] DinisCruz commented on #115
Closing since this is now working ok
![image](https://user-images.githubusercontent.com/656739/34636251-38838c32-f295-11e7-860a-2a618d45b84f.png)

[2018-01-06 03:53] #115 closed

[2018-01-06 03:54] DinisCruz commented on #98
done

[2018-01-06 03:54] #98 closed

[2018-01-06 03:55] DinisCruz commented on #90
that is a great resource and just the first set of ideas defined in that post are really interesting (i.e. create a 5 minute read version of that article)

[2018-01-06 03:56] DinisCruz commented on #60
we don't really need this at the moment (with current workflow) so marking it as `not-implemented`

[2018-01-06 03:56] #60 closed

[2018-01-06 03:57] DinisCruz commented on #49
done

[2018-01-06 03:57] #49 closed

[2018-01-06 03:57] DinisCruz commented on #69
yes I think it would be good to also invalidate those folders

[2018-01-06 03:58] DinisCruz commented on #69
I also added the `--delete` setting so that previous files get deleted

[2018-01-06 03:59] DinisCruz commented on #53
related to the post that @fzipi is working on

[2018-01-06 04:01] DinisCruz commented on #114
this has been done (by @javieralvarezgrafico )

[2018-01-06 04:01] #114 closed

[2018-01-06 04:02] DinisCruz opened #159 "Improve design layout of /Challenges page"
currently looks like this

![image](https://user-images.githubusercontent.com/656739/34636305-5daebb52-f296-11e7-992f-c8cc999e9472.png)

[2018-01-06 04:03] DinisCruz opened #160 "Improve design of role page"
current looks like this:

![image](https://user-images.githubusercontent.com/656739/34636311-7e4d6a70-f296-11e7-99d0-1e9f075a66f6.png)

![image](https://user-images.githubusercontent.com/656739/34636314-8b1f3378-f296-11e7-94a3-f96f26c7b19e.png)

[2018-01-06 04:04] DinisCruz opened #161 "improve design of 'challenges cards'"
currently they look like this

![image](https://user-images.githubusercontent.com/656739/34636323-a4023c78-f296-11e7-80ae-06ab2292d793.png)

[2018-01-06 04:05] DinisCruz opened #162 "Improve design for 'text' pages (for example About Us)"
https://pbx-group-security.com/about-us/

![image](https://user-images.githubusercontent.com/656739/34636334-d410ca56-f296-11e7-843b-3d9ea49f64ee.png)

[2018-01-06 04:30] DinisCruz opened #163 "Fix blog post 'Elon Musk is a programmer'"
which is here https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/dinis/Elon-musk-is-a-programmer.md

[2018-01-06 04:34] DinisCruz opened #164 "Fix blog post ' Dream Head of Risk and Compliance'"
Which is here https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/dinis/deam-head-of-risk-and-compliance.md

[2018-01-06 04:45] DinisCruz commented on #151
very cool, it works really well , just tried it for the /candidates page

![image](https://user-images.githubusercontent.com/656739/34636574-6b344796-f29c-11e7-8996-9e12e3b2eb88.png)

![image](https://user-images.githubusercontent.com/656739/34636575-6fa49c68-f29c-11e7-8f25-ff3e79be6457.png)

will create

![image](https://user-images.githubusercontent.com/656739/34636576-75b3749e-f29c-11e7-9e01-c1

[2018-01-06 04:51] DinisCruz opened #165 "Create UI testing framework (and add it to CI)"
As the site gets more feature risk (and used in the real word) we need to add a layer of UI tests so that we have confidence in continuing to make changes (and innovate)

One of the objectives is to be make changes like https://github.com/project-cx/pbx-group-security/issues/151 (to production) without worrying that the site is going to break

Initial thoughts:
 - nodeJs app
 - create API to make

[2018-01-06 05:01] DinisCruz opened #166 "Apply link was pointing to expired LinkedIn job post"
reported here: https://github.com/project-cx/pbx-group-security/issues/153

[2018-01-06 05:01] DinisCruz commented on #166
this has been fixed

[2018-01-06 05:01] #166 closed

[2018-01-06 05:38] DinisCruz opened #167 "Improve pbx-Group-Security SEO rating"
At the moment it is on 5th place when searching for 'Photobox Group Security' (and it really should be at the top)

![image](https://user-images.githubusercontent.com/656739/34636944-ab9747d2-f2a3-11e7-8439-465f836fe75c.png)

[2018-01-06 13:03] DinisCruz opened #168 "Write blog: on 'Old path vs new Path'"
making reference to https://twitter.com/DinisCruz/status/949618275293519877

[2018-01-06 13:12] DinisCruz opened #169 "PhotoBox Brand Guidelines"
Lisa asked:

@JemmaDSmith can you create a page with this? (in the pbx-gs website)

[2018-01-06 16:57] DinisCruz opened #171 "Write blog: creating a markdown file in GitHub using Pull Request"
Based on [this](https://gs-cst.slack.com/archives/C8KFNUNHZ/p1515243677000059) Slack thread that lead to the https://github.com/project-cx/pbx-group-security/pull/170 Pull Request

----

1) you need to create a new fie called 'dont-give-others-your-problems.md'

using button 'Create new file' in https://github.com/paulalobato/pbx-group-security/tree/master/content/blog/drafts

![image](https://use

[2018-01-06 22:08] DinisCruz opened #172 "Add page(s) with 'Recruitment workflow' and 'Ideal candidate'"
So that I don't have to keep pasting them on twitter like this:

https://twitter.com/DinisCruz/status/935581391336689664

and

https://twitter.com/DinisCruz/status/949763251797151746

Here are the screenshots from those tweets (@JemmaDSmith or Javier have access to the original)

![image](https://user-images.githubusercontent.com/656739/34644410-f5d60376-f32d-11e7-8efe-97e9949a77c6.png)

![image](

[2018-01-06 22:45] DinisCruz opened #173 "Create Candidate FAQ page(s)"
This should be created based on the feedback and questions we get from candidates
 - What are the timelines/deadlines
 - How long does the per

[2018-01-06 23:01] DinisCruz opened #174 "Capture community response to our recruitment efforts"
For example:
 - https://twitter.com/davidrook/status/949212635538567170
 - https://twitter.com/theavatao/status/948847914855563265
 - https://twitter.com/Beaker/status/949539858699177984
 - https://twitter.com/FrodeHommedal/status/949564049590767616 (weirdly these comments don't show on my timeline, I think it is due to being a retweet)
 - https://twitter.com/B3taW0lf/status/949739550435246080
 -

[2018-01-06 23:03] DinisCruz commented on #107
nice, only worry with these services is how secure our data/access-key is handled by them

[2018-01-06 23:03] DinisCruz commented on #107
Since we have the stats sent daily, we can close this now

[2018-01-06 23:03] #107 closed

[2018-01-07 00:00] DinisCruz commented on #171
(see also this page for a variation of this content https://github.com/DinisCruz/Book_Software_Quality/issues/25 )

[2018-01-07 08:32] DinisCruz commented on #149
Footer looks better :)

[2018-01-07 16:31] AlbanT2 opened #175 "Blogs Tag links missing forward slash after main domain"
on
https://pbx-group-security.com/blog/

the Team link goes to
https://pbx-group-security.comtags/team  i assume it need to go to https://pbx-group-security.com/tags/team  (no content but different issue)
same for all the tags.

[2018-01-07 18:11] #175 closed

[2018-01-07 19:29] fzipi commented on #69
We can change to https://github.com/bep/s3deploy for syncing. It should speed things up.

[2018-01-07 20:39] fzipi commented on #149
Footer it is. I removed the image because it was to big for the footer, and the colors had too much contrast.

Commited in 6109eba.

[2018-01-07 20:39] #149 closed

[2018-01-07 21:23] fzipi commented on #129
I'm adding this button for subscribe to rss feed:
![screenshot from 2018-01-07 18-20-17](https://user-images.githubusercontent.com/3012076/34654220-90367992-f3d7-11e7-873e-ff5054ffb395.png)
Needs a little css tweaking, and it will be done.

[2018-01-07 21:55] fzipi commented on #129
Now it looks like this:
![screenshot from 2018-01-07 18-54-25](https://user-images.githubusercontent.com/3012076/34654555-3b41150a-f3dc-11e7-8d04-5f11255df033.png)

@DinisCruz Is that fine for you?

[2018-01-08 08:30] Lisa-devseccon opened #181 "Tob banner placement"
![34636192-119d070c-f294-11e7-8c22-dbc1a90b0899 1](https://user-images.githubusercontent.com/27144792/34663284-5fddb84e-f456-11e7-908d-e1f174e716c1.png)

Regarding the banner that needs changing, I understand that it will need to be a generic one that can be used on all subpages, rather than specific to each page. Correct?

[2018-01-08 09:51] zsofiasomlai commented on #129
Instead of 'subscribe me' can you just say either 'Subscribe' or 'Subscribe here'?

Thanks!

[2018-01-08 10:31] zsofiasomlai opened #182 "New blog : Prevent security crisis by adopting a multi-defence security model"

[2018-01-08 10:50] zsofiasomlai opened #183 "Write blog: Creating a digital immune system to detect and respond to security incidents"

[2018-01-08 10:51] zsofiasomlai opened #184 "Write blog: How the security team enables the group via modern risk function and secure development practices"

[2018-01-08 10:53] zsofiasomlai opened #185 "Write blog: How is Group Security implementing and creating advanced tools utilising AI to enhance our ability to detect anomalous behaviours across our technology estate"

[2018-01-08 11:11] DinisCruz opened #186 "Find root cause of 'S3 Forbidden' bug"
which was reported via https://twitter.com/lfservin/status/950259747051261952

and looked like this

![image](https://user-images.githubusercontent.com/656739/34668207-392b3cf4-f464-11e7-8f4a-18cbed6de872.png)

I believe the problem was caused by the use of `--delete` (see
https://github.com/project-cx/pbx-group-security/commit/d2e8fb7b75f1ee46d82ca419f04ac5941250fd22 )

[2018-01-08 12:47] javieralvarezgrafico commented on #156
I'm working on it :)

[2018-01-08 12:52] fzipi commented on #129
@zsofiasomlai It says 'Subscribe' now. And it's live!

[2018-01-08 13:01] fzipi commented on #158
@DinisCruz I've made a clear button to subscribe to the blog feed. See #129.

wrt stats, there is the feedburner service from google, which has feeds stats:
![screenshot from 2018-01-08 09-58-35](https://user-images.githubusercontent.com/3012076/34671812-b70503e4-f45a-11e7-9bf5-253b4fd7fcd7.png)

But our link to subscribe has to link to their service. Is that what you wanted?

[2018-01-08 16:21] javieralvarezgrafico commented on #156
I'm sending here three proposals for the project-cx logo. Concept of these proposals is to merge a technologic idea and appealing, with the concept of security, represented by a padlock. To keep the relation with photoboxgroup, logo is using same colors and typography. Please let me know your feedback about these proposals when you have a time to check it.
![project_cx_logo_rgb_proposal1](https://

[2018-01-08 16:23] javieralvarezgrafico commented on #156
I've already sent the same communication on Slack

[2018-01-08 18:46] fionarichmond opened #196 "Suggested change to individual challenge pages"
At the risk of creating lots of duplicate content, I think the individual challenge pages could be clearer in the signposting, eg https://pbx-group-security.com/challenges/risk/ri-au-acceptable-use/
to say "challenge outline" or "overview" or similar.

[2018-01-08 18:49] fionarichmond opened #197 "Suggested change to user journey to challenge lists"
I wonder if having the simper page first (https://pbx-group-security.com/challenges/table/) and the list-based page second would be a better ux, as the table page groups things in a more visual way.
Both pages should link to each other, so users can switch from one to another depending on their preferred view. At the moment, the table page has no obvious link to the detail page, other than the bac

[2018-01-08 18:51] fionarichmond opened #198 "Suggested change on the "Why challenges?" page"
This is really great scene setting and gives a real flavour for why we are using this approach. If I were a candidate, I'd want a call to action at the end of the blog, ie "What next?"

[2018-01-08 18:54] fionarichmond opened #199 "Use of LinkedIn"
This is a comment rather than issue. For me, going to LinkedIn really breaks the user experience and effectively it repeats everything that's already on the security site.
This may well be in hand, so ignore if so.

[2018-01-10 02:55] DinisCruz commented on #199
I agree, I think we should try to find another solution. The key is to integrate with our workflow on handling candidates

One interesting option is to use https://www.netlify.com/docs/form-handling/

[2018-01-10 14:15] #181 closed

[2018-01-10 14:18] Lisa-devseccon opened #206 "photobox group security homepage graphics"
Could I please have the artwork files (.ai/ .eps) from the images used in the slider banner on the homepage? This would speed up my work to create the header banners for the other pages.

![photoboxgroup_blogrgb](https://user-images.githubusercontent.com/27144792/34777063-6b19d840-f619-11e7-848f-fbf33dd0bed9.png)
![photoboxgroup_ourmissionrgb](https://user-images.githubusercontent.com/27144792/347

[2018-01-10 14:24] javieralvarezgrafico commented on #156
Here are the final artwork files for the project-cx logo
[ProjectCX_logo.zip](https://github.com/project-cx/pbx-group-security/files/1619170/ProjectCX_logo.zip)

[2018-01-11 07:51] m4sterbunny opened #207 "LinkedIn target (for all roles) open in new tab please"
The process flow is that the applicant must click apply here- and submit CV via linked in. Then they need to remain in the site to complete the challenges.

Consider linkedin in new tab so that they still remain on relevant page if they close linked in tab.

[2018-01-11 07:55] m4sterbunny opened #208 "Permanent role challenges too high on page"
Consider placing mapped challenges to below the HOW TO APPLY, because the wording is "see below".

_How to apply
In order to provide a fair and objective recruitment process, before we invite you for face-to-face interviews, we ask you to submit your answers to theoretical and practical challenges. This helps us to identify your suitability and experience level.

Each challenge should take no long

[2018-01-11 07:59] m4sterbunny opened #209 "Can we repeat LinkedIn target for How to Apply section"
The HOW TO APPLY deals with the challenges.

I know you don't want to hire idiots - yet consider something like:

How to apply
_1. Provide your CV via linked in (link open in new tab)
2. Complete our challenges:

In order to provide a fair and objective recruitment process, before we invite you for face-to-face interviews, we ask you to submit your answers to theoretical and practical challenges.

[2018-01-11 08:20] m4sterbunny opened #210 "No apply link for contract position SOC engineer"
pbx-group-security/content/roles/contract/soc-engineer.md

no linkedin

[2018-01-11 14:35] securonomics opened #217 "Workflow for Tech Writers"
(This is a summary from my Slash posts. There are a bunch of questions here that it would be good to answer and turn into a workflow doc, which I can do after we get answers.
)
** MY SETUP **
So I have Jekyll and Hugo both installed on my system. While the docs make reference to Jekyll, the actual site is in Hugo, per the footer message. I installed Hugo, edit directly in Sublime, and push to the

[2018-01-11 15:12] DinisCruz commented on #151
this is done

[2018-01-11 15:12] #151 closed

[2018-01-11 17:11] DinisCruz opened #218 "Refactor roles page (move table to partial)"
See https://github.com/project-cx/pbx-group-security/blob/master/layouts/roles/list.html#L18

[2018-01-11 18:34] RandomFractals opened #219 "Improve README file"
**Add prerequisites and local dev build/test/run notes to pbx-group-security repo**

- Include links to Go and Hugo install pages in prerequisites
- Build section with git clone and npm install instructions
- Run section with >hugo serve command line to run this hugo site
- Also do we have tests to run?

[2018-01-12 09:01] Abhi-Raj commented on #217
@Securonomics For github pull requests, the best way would be to:
1) create a fork
2) clone your fork (or add a remote to the clone of main repo)
3) create a brach
4) code and commit
5) push to branch on your fork
6) send Pull Request of that branch to main repo

Currently, we don't have a team standard for naming branches. It would be great if we can have some potential options / syntax which eve

[2018-01-12 09:08] m4sterbunny opened #227 "Remove Jekyl from candidate work flow"
This is old and we need to bring in the new
content/challenges/set-up/ST-SA-github-and-jekyll.md

Dinis' instruction
https://gs-cst.slack.com/archives/C8PQWRQ9W/p1515681223000426?thread_ts=1515675317.000337&cid=C8PQWRQ9W

[2018-01-12 14:00] securonomics commented on #217
**On Branches**
For technical writers, I don't see a need to do a daily branch. We could do a monthly branch and commit each doc to the branch, then the commits could be accepted piecemeal. There is a balance between having good resolution of the change history, and littering the repo with a lot of branches.

[2018-01-12 14:16] RandomFractals commented on #218
resolved in #229

[2018-01-12 16:38] RandomFractals commented on #144
just to confirm: make all the cards same height? and update all pages where this happens?

[2018-01-12 17:46] RandomFractals opened #232 "ux: Navbar wraps in portrait mode below 990px wide screen resolution"
![pbx-group-security-top-nav](https://user-images.githubusercontent.com/656833/34887878-a49d863c-f78d-11e7-97dd-b8558ccafd8c.png)

it changes to the hamburger menu at 767px wide and below.

We should either do same for the 760px to 990px wide desktop screens or condense menu items for a resolution in that range to fit in one row without Contact menu item wrapping.

[2018-01-12 18:33] RandomFractals opened #233 "Add links to simpler version of the challenges table"
https://pbx-group-security.com/challenges/table/

Currently that page only displays challenges mapped by Area without links to the actual challenge details

![pbx-group-security-challenges-table](https://user-images.githubusercontent.com/656833/34889716-ab0e09a4-f794-11e7-952b-b5177f09380f.png)

Also should probably link key column in challenges list view similar to how it is done on the simple ta

[2018-01-12 20:49] RandomFractals commented on #232
need to look into custom media navbar CSS rules set in to fix this:
https://github.com/project-cx/pbx-group-security/blob/master/src/styles/css/style.default.css

[2018-01-12 23:10] DinisCruz commented on #217
From a fork point of view (and GitHub Workflow) the name of the branch is not that important since there will only be one person working on them (the tech writer)

The reason to use multiple branches is to keep the Pull Request isolated. If we're not careful, there will be an PR with different blog posts (note that GitHub automatically updates a PR request to contain commits made the branch used)

[2018-01-12 23:12] DinisCruz commented on #217
Yes because that is what GitHub is doing behind the scenes :)

That said on the workflow you describe you will still need to create a Pull Request.

[2018-01-12 23:17] DinisCruz commented on #233
Actually the link was on the Key :)

Merged the PR so this should be Fixed

[2018-01-12 23:17] #233 closed

[2018-01-13 00:35] securonomics commented on #217
Thanks, Dinis.

I was actually a bit confused. I had cloned the main repo, not forked it. So my origin was the main repo, not my fork of it.

I’ve corrected it, so now everything should work as it is intended, including the pull requests. I will be do a couple hours this weekend to finish up my allotted time. Now that the set-up is out of the way, I should be able to get a lot more editing done.

[2018-01-13 13:06] DinisCruz commented on #232
I think on that one we should remove the items from that menu (like the 'For Recuiters'

[2018-01-13 13:11] DinisCruz opened #239 "Review transcribed file"
- [ ] {add others here}
- [ ] using_git.md - {assigned to x}

[2018-01-13 14:43] RandomFractals commented on #232
@DinisCruz I am not sure just removing 'For Recruiters' would help there.

Also, is that your final branding logo?

I suspect what happened there placeholder Hugo theme logo was replaced but CSS stylesheets were not properly updated to accomodate for the wider logo size and top nav to collapse when standard 960 or 720px resolutions are reached.

Rather than do a hack like remove some links for sma

[2018-01-13 14:47] RandomFractals commented on #233
Actually, in condensed view there was a link on the Key column and in list view there was a link on the Title column.

@JemmaDSmith and me decided in design thread in Slack we should probably have them on both columns in both places as they lead to different pages.

[2018-01-13 15:05] RandomFractals commented on #144
@DinisCruz more up to date CSS flexbox guides just released on MDN to review for fixing this:

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout

I can prototype a fix next week.

Side note: in general, I don't like the idea of mixing bootstrap grid layout with flex. It might require some thorough testing across all browsers and platforms, but the current site is heavily dep

[2018-01-13 21:40] DinisCruz opened #240 "removed 'For Recruitment' link from top menu"
here
![image](https://user-images.githubusercontent.com/656739/34910326-47e70224-f8aa-11e7-9fc6-593d4c4c2354.png)

It should go somewhere on the [roles](https://pbx-group-security.com/roles/) page

CC: @RandomFractals

[2018-01-13 22:44] #218 closed

[2018-01-13 22:46] DinisCruz opened #241 "make the short table the main table in the 'challenges' page"
this one
![image](https://user-images.githubusercontent.com/656739/34910728-5b4fead4-f8b3-11e7-8fb0-3ecefb72a7bf.png)

is used instead of

![image](https://user-images.githubusercontent.com/656739/34910729-65b06ef4-f8b3-11e7-9c6d-0a7578f71cc0.png)

Couple items to take into consideration:

 - keep the text and links on the current https://pbx-group-security.com/challenges/ page
 - The cards used i

[2018-01-13 22:49] DinisCruz commented on #144
yes the idea is see what it looks like when the cards are all the same height

And yes lets try to keep this as bootstrap as possible

btw, I remember fixing this issue already once (for the participants cards you can see at https://owaspsummit.org/website/participants.html)

[2018-01-13 22:51] DinisCruz opened #242 "Write Blog: What is the difference between Flex and Bootstrap"
@RandomFractals following your comment at https://github.com/project-cx/pbx-group-security/issues/144#issuecomment-357441835 can you expand on those differences on a quick blog post?

thx

[2018-01-13 22:52] DinisCruz opened #243 "Remove Disqus from site"
Nobody is really using it at the moment and the 30 day eval is ending

[2018-01-13 22:59] DinisCruz opened #244 "Should we Decommission the GS JIRA and Confluence sites?"
And only use GitHub?

I think at the moment we are not getting a lot of value from Jira and confluence and GitHub + "Custom Hugo Sites" will be a better solution for us (and more aligned with our future tech stack)

@Abhi-Raj and @JemmaDSmith what do you think?

[2018-01-13 23:07] DinisCruz opened #245 "Write blog: The basics of Git"
The basics of git

It is possible to access GitHub directly through the web interface, however, there are many benefits to downloading the desktop application.

If you already have an account please communicate the details to our team and they will give you access to the pbx site.

-Ensure you know your login details for GitHub
-Download the app
-Sign in to GitHub.com
-Choose “clone a repository”

[2018-01-13 23:30] #219 closed

[2018-01-13 23:47] DinisCruz opened #246 "Review and merge elon musk blog"
https://github.com/project-cx/pbx-group-security/pull/200

https://github.com/project-cx/pbx-group-security/pull/215

[2018-01-14 05:09] Abhi-Raj commented on #239
@DinisCruz Have approx. 32 blog posts being tracked via Confluence here: https://gs-cst.atlassian.net/wiki/spaces/CX/pages/78938115/Blog+Posts.

TW Team directly asks for clarifications / gets instructions for the posts there itself.

[2018-01-14 05:29] Abhi-Raj opened #247 "Making candidate challenge (answer) webpage to be more collaborative"
Feedback from potential candidates that they would like the website to be more collaborative, with the ability to comment via the webpage.

**Action**: example code that we could recommend to enable this?

[2018-01-14 05:36] Abhi-Raj opened #248 "Create google form for Candidate feedback on the challenges"
Create a simple Google Forms, to provide feedback for the challenges.

The idea is that we have a simple Google Form that people cannot see the answer. We add in the bottom of each challenge, on the challenge page, things like:

- does the challenge make sense?
- was it difficult? / was it easy? / was is hard?" and add this to your update email? etc.

[2018-01-14 08:35] Abhi-Raj commented on #244
@DinisCruz @JemmaDSmith: In my opinion, as per our current usage - **Jira** can completely be replaced by Github. The only hiccups I felt were in two places:
1. we have the workflows in Jira readily available but on Github we need to devise and make the new team members aware of all the WIP workflows and functions.
2. customizable dashboards

**Confluence** is a very useful tool which in my opinio

[2018-01-14 11:42] m4sterbunny commented on #244
@Abhi-Raj

1. I suspect the workflow could be controlled in the meta of the gitpage (see suggested flow below for the task). Initially, crudely by hand, later..

and communicated to the relevant operator according their role as per the atlassian board.

Title | key | Date | urgent by date | Type | Menu | Target audience | Status | PersonalAttention
-- | -- | -- | -- | -- | -- | -- | -- | --
Frogs_

[2018-01-14 14:28] DinisCruz commented on #243
this is done, trial account deleted

We'll try this again later one there is more traction

[2018-01-14 14:28] #243 closed

[2018-01-14 16:16] DinisCruz commented on #247
something like disqus?

[2018-01-14 16:19] RandomFractals commented on #240
That makes sense. Let's decide where.

For Recruiters page only has this disclaimer text and lists Contract Positions from Roles page:

"Photobox Group are not looking to work with recruitment agencies for any permanent roles listed on this site.

If you have any suitable candidates for the contract positions listed below please email us."

btw, is group a plural in UK English? I think it should b

[2018-01-14 16:46] RandomFractals commented on #240
How about I'll create a for-recruiters PR with a fix for this and #232

I'll place that 'for recruiters' disclaimer text at the bottom of the Roles page for now so we can see how it looks and finalize this.

[2018-01-14 17:09] RandomFractals commented on #247
disqus would fit the bill, but it is more for discussions, and did not you mention you are removing it b/c eval expired?

Other options would be:

1) create a dedicated FAQ page with a Feedback comments box to cover some general questions about the site and give candidates an option to submit their comments.

2) Other Feedback services also exist that we could plugin with a button pinned to the bo

[2018-01-14 17:22] RandomFractals commented on #241
easy. then only change this text in new Roles page:

"See this page for a simpler version of the table below."

to:

"See this page for  all the challenges with skills information." ???

Need final text verbage approval for that change to implement it.

[2018-01-14 18:36] RandomFractals commented on #240
Looking good! I moved that 'for recruiters' disclosure to the roles page header content.

This does fix issue #232 as @DinisCruz suspected :)

I removed For Recruiters menu item from Hugo config as well.

This is what it looks like now. Sending PR.

![pbx-combine-roles-for-recruiters](https://user-images.githubusercontent.com/656833/34919323-74aa01da-f927-11e7-8151-a4ad30e41961.png)

[2018-01-14 19:09] DinisCruz commented on #157
preferred design
![image](https://user-images.githubusercontent.com/656739/34919593-6610a354-f95e-11e7-8971-6b1e6b66f64d.png)

[2018-01-14 20:58] securonomics commented on #244
The metadata in the Hugo page could be a good way to give visual cues to the writer/tech editor/proofreader about the status of the document. We would have to come up with a standard form, however, and perhaps create a template for the page.

[2018-01-15 03:18] RandomFractals commented on #241
swapped pages pics:

![pbx-shortchallengeslist](https://user-images.githubusercontent.com/656833/34925636-2d69d04a-f970-11e7-8deb-15b63debecd9.png)

**NOTE:** last sentence change in that page content: "See this page for All Challenges with skills information". Let me know if that works, or requires a copy edit.

![pbx-newchallengestable](https://user-images.githubusercontent.com/656833/34925641-3

[2018-01-15 03:34] RandomFractals commented on #144
also, this other issue from #241 is related:

reported by @DinisCruz: The cards used in the table view needs to have a min view since they do't wrap up well on small or mobile views (see below)

![pbx-challengeslistcardsissue](https://user-images.githubusercontent.com/656833/34926067-c13ca796-f972-11e7-8778-2c70eb3d4862.png)

[2018-01-15 03:37] RandomFractals commented on #241
I moved scaling on mobile part reported by Dinis to issue #144, where it belongs with the challenges list card height CSS fixes it requires.

This issue can be closed when challenges pages swap PR is merged.

[2018-01-15 03:39] RandomFractals commented on #144
In general, all of these 'list card' pages need to be reworked for height and row wrapping on mobile.

We have hardcoded 3 cards per row for them and as reported that will not scale on smaller screens :)

[2018-01-15 04:06] RandomFractals commented on #232
this was resolved in PR #250, merged into master, and can now be closed

[2018-01-15 09:01] m4sterbunny opened #254 "Lost TW"
I started my adventures into gitDesktop and pushed a new file up

![image](https://user-images.githubusercontent.com/20266893/34934489-50724fa4-f9e3-11e7-94ee-2686aa9e1499.png)

But when I check the site I don't see it yet-
![image](https://user-images.githubusercontent.com/20266893/34934446-28ce2e32-f9e3-11e7-97e3-4c877532457c.png)

Where did I lose my file?!

[2018-01-15 12:56] RandomFractals commented on #248
great I idea. I am linking a related issue #257 Abhi created.

[2018-01-15 13:01] RandomFractals commented on #240
resolved and merged in PR #250 Please close this issue.

[2018-01-15 13:26] RandomFractals commented on #157
pending designer's artifacts upload to pbx-design-files repo per Dinis's instructions for this change:

https://github.com/project-cx/pbx-design-files

[2018-01-15 13:44] RandomFractals commented on #157
some prior headers design notes from Slack:

https://gs-cst.slack.com/files/U8GTUQZ5M/F8PDEPP6F/website-headers-v01a.png

[2018-01-15 13:48] RandomFractals commented on #157
new header in page context mockup

![website-headers-v01b-mockup](https://user-images.githubusercontent.com/656833/34945317-834e735a-f9c8-11e7-8dc8-7b4eb89381e9.png)

[2018-01-15 14:01] RandomFractals commented on #157
[pbx-group-security-website-headers.zip](https://github.com/project-cx/pbx-group-security/files/1631844/pbx-group-security-website-headers.zip)

[2018-01-15 14:19] RandomFractals commented on #157
let's integrate these for now.

Ideally, we could use CSS3 gradients for the headers background coloring and just watermark graphics to reduce headers size for download (they are about 15-20Kb each).

Another option would be to export them in SVG and use SVG for these graphics. All modern desktops and mobile devices render SVG well and that will cut down on the overall page size.

TBD. I'll integr

[2018-01-15 14:34] RandomFractals commented on #165
final call on this from Slack:

ok, for the tests, to make it simple, let me pick the tech stack

- NodeJS
- CoffeeScript
- JsDom
- MochaJs
- WallabyJs

see https://github.com/photobox/gs-aws-research/tree/master/pbx-automation for an example of this in action (check out the JsDom api and test)

[2018-01-15 15:25] RandomFractals commented on #157
new header gradient stops from Lisa for mobile:

![pbx-newheadergradients](https://user-images.githubusercontent.com/656833/34949576-16bc35ca-f9d6-11e7-8825-eb7d35abe07f.png)

[2018-01-15 15:31] RandomFractals commented on #157
[pbx-group-security-website-headers-svg.zip](https://github.com/project-cx/pbx-group-security/files/1632145/pbx-group-security-website-headers-svg.zip)

[2018-01-15 17:12] RandomFractals commented on #144
similar page from the other site by Dinis:

https://github.com/OWASP/owasp-summits/blob/master/website/_includes/blocks/participants.html

[2018-01-16 05:24] RandomFractals commented on #157
see PR #261 for the alternating colors update in the app

![pbx-blog-post-header](https://user-images.githubusercontent.com/656833/34973075-34c05022-fa4b-11e7-8a9f-b39d1d92005b.png)

[2018-01-16 05:26] RandomFractals commented on #157
headers with images are also prototyped but not ready to go live.

Waiting on Lisa for new set of transparent images. See slack design channel for more info.

What I got (notice poor stretching job Chrome does) It is even worst in Firefox.

![pbx-roles-header-gr-chrome](https://user-images.githubusercontent.com/656833/34973121-8b0a32b8-fa4b-11e7-9495-ff85fb852e8f.png)

[2018-01-16 14:29] RandomFractals commented on #157
[pbx-group-security-website-headers-individual-svgs.zip](https://github.com/project-cx/pbx-group-security/files/1635480/pbx-group-security-website-headers-individual-svgs.zip)

[2018-01-16 17:10] #232 closed

[2018-01-16 17:10] #240 closed

[2018-01-16 17:10] #241 closed

[2018-01-16 18:38] regisphilibert commented on #144
Hi there, I'm new here ;)
Is it ok if IE11 users still see the boxes as is. If yes, you guys should use css grid to style this grid.
Works like a charm, very few lines fo codes. I'm new to the project and could be wrong, but if you allow I could investigate.

[2018-01-17 00:09] RandomFractals commented on #157
**see PR #266 with new header icons update in notes ready to go live**

[2018-01-17 01:09] RandomFractals commented on #157
# New Headers with Icon Graphics
![pbx-contact-us-header-gr](https://user-images.githubusercontent.com/656833/35020254-d06f9c26-faf0-11e7-8513-c4eb8bbe4823.png)
![pbx-blogs-header-gr](https://user-images.githubusercontent.com/656833/35020255-d09021bc-faf0-11e7-94ef-c1dcb76f462d.png)
![pbx-challenges-header-gr](https://user-images.githubusercontent.com/656833/35020256-d0ac3a00-faf0-11e7-8381-37e90c

[2018-01-17 14:23] regisphilibert commented on #144
https://github.com/project-cx/pbx-group-security/pull/265

[2018-01-17 15:39] regisphilibert opened #272 "src task running: add saas and refactor"
This issue is in spec mode and in no way a priority, but feel free to add your input.

The project uses css and compiles it with gulp.
It appears nothing prevents us from using a css preprocessor like sass.

Sass reads regular css just fine, so we wouldn't have to change any syntax in the existing css files. Juste change their extension to .scss.

Also we should refactor the css rules. For now we

[2018-01-17 16:06] regisphilibert opened #273 "Refactoring hugo layouts using blocks and baseof.html"
I can see the layouts never use the block extension method from baseof.html.
Which results in a lot of redundancies.
For exemple many layout files start this way: (there are many more shared lines, but we'll stick to those 12 for the exemple).
[code]

If we were to use the baseof.html properly (it is not used as of today)
Then those 12 lines of codes (and their corresponding closing statements) wo

[2018-01-17 18:30] Abhi-Raj commented on #272
To be reviewed: @DinisCruz

[2018-01-17 18:33] #129 closed

[2018-01-17 18:39] RandomFractals commented on #157
Remaining:

- split header markup into left icon, title, right padlock icon row to show both left and right icons on all devices, scale as needed

- center title

[2018-01-17 19:01] RandomFractals commented on #272
would love for us to do this as well.

Let's do it after we add tests. I think having some tests first would be higher priority.

[2018-01-17 19:24] RandomFractals commented on #273
I agree. Let's bite on this next week?

[2018-01-17 19:26] regisphilibert commented on #273
Yes ideally I'd like to do this as a one shot during a low "template mingling" day.
To avoid too much conflicts with other people's template coding. A lot of files will be impacted.

[2018-01-17 19:31] RandomFractals commented on #273
Agreed. I'll work on tests and you can take a stab at this refactor next week.

[2018-01-17 20:41] RandomFractals commented on #165
For the first phase of this effort:

- we would like to spend a day on creating basic automated build test scripts harness with the tech listed above.

- the objective is to write sufficient tests for major site landing pages and functionality once that test harness is in.

This effort could take days, but I feel like it would be worthwhile and justifiable for us to do it before we dive into any m

[2018-01-17 21:10] RandomFractals commented on #186
need more info on this: how do we reproduce it?

[2018-01-17 21:24] RandomFractals commented on #144
@regisphilibert flexbox cards height and wrapping split looks good, but I think we'll need another patch for this to have at least 2 or 3 cards for a 900px wide screens in portrait mode. Here is what I got reviewing it on site. We could fit more cards there. Let's iterate on this on Friday to finalize this for all such slim list cards pages. Looks good on wider and mobile screens.

![pbx-challenge

[2018-01-17 21:26] regisphilibert commented on #144
Sure lots of possibilities. Couldn't find any breakpoint directions.
Is there any design/layout we can refer too?
Any person in charge of advising us on integration direction?

[2018-01-17 21:52] regisphilibert opened #275 "Add Travis CI for build automation"
Would allow us to run gulp command prior to hugo compile and remove static directory (populated by gulp scripts) from the repo.

Way less git conflicts ahead on the css and js.

[2018-01-17 22:15] RandomFractals commented on #157
[Photoboxgroup_ai_files_illustrations_blog.zip](https://github.com/project-cx/pbx-group-security/files/1640770/Photoboxgroup_ai_files_illustrations_blog.zip)

[2018-01-17 22:17] RandomFractals commented on #157
in general, if we can get raw SVGs like Lisa sent for those headers for any graphics we want to add to the site that is really all we need and I think we'll be switching more to using SVGs for graphics rather than PNGs if @Dinis Cruz (GS) doesn't object.

All modern desktop and mobile browsers support SVG really well and we can do gzip on them as well.

Using SVG for graphics is the best solution

[2018-01-17 22:23] RandomFractals commented on #144
we are still working on design to dev workflow, but if it looks a bit off to you, we should take a proactive action and fix it. I think we can fit more slim list cards on that screen in portrait desktop view mode.

Let's revise it in the next rev.

[2018-01-18 00:04] RandomFractals opened #276 "Create #issues Slack channel"
and add automated github issues updates Slack webhook for communicating github issues updates via Slack to the team

[2018-01-18 00:05] RandomFractals opened #277 "Create #builds Slack channel"
and add merges and later on Travis CI build notifications to Slack for the team to track new site updates

[2018-01-18 13:30] RandomFractals commented on #247
I believe this is a duplicate of #248

@Abhi-Raj Let's consolidate them and close this one?

[2018-01-18 13:39] Abhi-Raj commented on #247
Both of them have a different purpose @RandomFractals .

#248 emphasizes on having a general google form created for potential candidates so that they can leave the feedback on provided challenge exercises, our approach towards the recruitment, candidate site etc.
#247 requires us to provide a flexibility to the 'candidate demo site' wherein if a candidate would like to have a comment via the webp

[2018-01-18 13:39] #248 closed

[2018-01-18 15:08] #254 closed

[2018-01-18 20:36] RandomFractals commented on #124
All blog images were compressed once again in the latest headers update.

We will need to do this occasionally for new blog posts until we split site code and content into two repositories. Also could be added as part of the site build process.

[2018-01-18 20:48] RandomFractals commented on #55
Also see issue #217 We need to write a proper contributing.md document for the whole team and new members joining.

[2018-01-18 21:01] RandomFractals commented on #245
Also see issue #55, #217 and #171

We need to write a proper contributing.md document for the whole team and new members joining.

[2018-01-19 07:12] m4sterbunny opened #281 "Create a blog candidate challenge requires tutorial"
If the create a blog aspect of the challenges will remain- then the guide needs to be created:

i.e. https://demo-e945b6e8.netlify.com/challenges/gh-wb-write-blog/

[2018-01-19 07:13] m4sterbunny opened #282 "Mapping candidate role procedure needed"
The concept is that the candidate challenges will depend upon role - how does this map to their site?

[2018-01-19 13:49] m4sterbunny opened #286 "Write blog: working together apart"
This is my pet reading zone at the moment, I still have 8 more papers to read- so this is not going to be a bang it out piece!

http://www.technobunnies.com/technical-writing/working-together-apart/

password pbx_security

Let me know if you would like further dev for the blog section of the site

[2018-01-19 15:57] Abhi-Raj commented on #286
Interesting writeup @m4sterbunny. Looking forward to go through the writeup once you are done with the entire piece.

[2018-01-23 15:21] DinisCruz opened #291 "Convert Working Sessions PoC into separate markdown pages"
![image](https://user-images.githubusercontent.com/656739/35283759-ff3b9eaa-0050-11e8-9b66-f804a61045c9.png)

![image](https://user-images.githubusercontent.com/656739/35283767-05248642-0051-11e8-9f55-4d52ccc7dd83.png)

[2018-01-23 19:04] regisphilibert commented on #291
Wrapping my mind around this issue.

The different markdowns you want is for the events displayed on the page.
Then from the template of the "working-sessions" page we would fetch those individual markdowns to retrieve information about the event (Day, month etc...)
There is several approach to this:

**1/ The old hack:**
Creating different sections beneath "working-sesssions" and loop on those.
T

[2018-01-24 12:55] regisphilibert commented on #291
@DinisCruz @JemmaDSmith ?

[2018-01-24 13:53] JemmaDSmith commented on #291
Do we need separate markdown pages? This is another step in registering surely? Can we not link to the eventbrite pages?

[2018-01-24 14:04] regisphilibert commented on #291
I don't need seperate markdown pages, hence my question.

But ideally, we'd build those calendar snippets in html and use the link provided in the Front Matter as the exemple provided.
This is to avoid you having to create a new "calendar card" image everytime you edit/create an event. We would built it in html/css.

You could either use a shortcode in the markdown to call for this iteration over

[2018-01-24 14:19] JemmaDSmith commented on #291
what do you need me to do? Not technical at all, so in idiot proof would be great

[2018-01-24 14:27] regisphilibert commented on #291
Sorry, my request may not have been clear.

I just need your input as an editor.

I don't have the bigger picture here, so I just need to understand your needs as an editor for this feature. The screenshots didn't cut it for me.

1/ Will those cards only be listed on the Working Sessions page ?
2/ What information about them do you need to be able to manage beside Day, Month, Year, Eventbride link

[2018-01-24 14:29] JemmaDSmith commented on #291
1/ Will those cards only be listed on the Working Sessions page ? Yes
2/ What information about them do you need to be able to manage beside Day, Month, Year, Eventbride link? None
3/ Do you need standalone pages for them (apparently not)? I think this can be managed in EventBrite, adding them is a barrier to conversion and a duplication of work
5/ Do you have some PSDs for me to build the cards w

[2018-01-24 14:36] regisphilibert commented on #291
Thanks, then Front Matter is the way to go.
1/ I will build the shortcode (so we can have it in any section on the page) and for style will use the screenshot provided so we don't lose too much time waiting for PSDs. If they need too much refine, I may request a PSD.
2/ I will grab what you already added to the markdown and convert it to the Front Matter solution so the page should look ready when

[2018-01-24 14:42] JemmaDSmith commented on #291
PSD with you

[2018-01-24 16:38] regisphilibert commented on #291
@JemmaDSmith
I used the fonts available on the site

- see https://github.com/project-cx/pbx-group-security/pull/292 **for screenshots**.
- See https://raw.githubusercontent.com/regisphilibert/pbx-group-security/events-cards/content/page/working-sessions.md **for Front Matter / shorcode usage **

[2018-01-24 16:40] regisphilibert commented on #291
Date format matters:
**2018-02-20** (we need those leading zeros)

[2018-01-24 20:00] regisphilibert commented on #273
There seem to have been a holdout on this issue. Is it resolved?
I can see that very few people are working on the layouts these days and it would be the perfect time to handle this task.
@DinisCruz what do you think?

[2018-01-25 03:09] DinisCruz commented on #291
Great threat :+1:

I just merged the PR

[2018-01-25 17:46] JemmaDSmith opened #294 "Add Century Gothic font to site"
Test load speeds before and after implementation

[2018-01-25 17:55] regisphilibert commented on #294
@DinisCruz any reason we are not using Google Font?
Roboto is available there. Century Gothic is not but I'm sure @JemmaDSmith could find some close open source looking fonts on the google platform ?

Personal opinion is google font saves us the bandwidth but I'm no expert.

If google font is out of the question, I would need the full fontface kit for Century Gothic provided by the fondry you got

[2018-01-25 17:56] regisphilibert commented on #294
I assume this is so the events cards look closer to you design @JemmaDSmith

[2018-01-27 22:14] DinisCruz opened #296 "Add content from Contact to the 'About Us' page"
Since the top menu is currently causing this ui prob

![image](https://user-images.githubusercontent.com/656739/35476851-522865a6-03af-11e8-9a79-5a46d2abb30b.png)

I'm going to remove the Contact page (since that can makes sense to be on the 'About Us' page)

[2018-01-27 22:15] DinisCruz commented on #294
I don't think bandwidth will be an issue here, @regisphilibert can you see if you can find this font online from a place we can use (does google has it on their font library?)

[2018-01-27 23:21] DinisCruz opened #297 "Invalid pygments error"
Hi @regisphilibert can you try to find the root cause of this error message (and see if there are any side effects caused by it?)

![image](https://user-images.githubusercontent.com/656739/35476891-35af72b0-03b0-11e8-9111-0b171ae377f1.png)

[2018-01-28 00:10] regisphilibert commented on #297
@DinisCruz you took me idled and I couldn't resist solving that puzzle before going out...

Here's the culprit: https://github.com/project-cx/pbx-group-security/blob/master/layouts/graph/graph-dot-2.html#L19

That second argument "en" is passed as LANG while "html" is passed as a pygment OPTION which doesn't exit.
See https://gohugo.io/functions/highlight/

replace by
[code]
and all will be good.

[2018-01-29 19:30] regisphilibert commented on #294
Hi @DinisCruz google doesn't have Century Gothic for it is **not** an open font. It is a private pay-for-use license from monotype.
Can I suggest you guys pick an open font from the google library which is similar.
1/ This would better fit with the open source context of the project
2/ This would avoid paying for the font.

If we need to stick to Century Gothic, I would need you to buy its needed

[2018-01-30 09:33] JemmaDSmith commented on #294
Have shared the fonts with you in slack

On Mon, Jan 29, 2018 at 7:30 PM, Regis Philibert <notifications@github.com>
wrote:

--

*Photobox Group*

Jemma Davis-Smith

Group Security Operations Manager

Photobox Group

<http://www.photobox.com/>   [image: Screen Shot 2017-09-19 at 13.59.33.png]
<https://www.moonpig.com/>    [image: Screen Shot 2017-09-26 at
11.07.14.png] <https://www.hofmann.es/>

[2018-01-30 14:25] regisphilibert commented on #294
I'm adding the font kit now, will also apply Century Gothic to events card from the working sessions page.

[2018-01-30 15:10] regisphilibert opened #301 "Revisit FontFace integration"
I can see from the fonts.css that we load a lot of obsolete font file.
https://webdevstudios.com/2016/05/26/css-font-face-2016-edition/
https://caniuse.com/#search=woff
According to most reading I've done all we need in 2018 is woff and woff2 for the more advanced browser.
eot is really for IE8 and older.
svg has been dropped by all, so except for some old safari version, no one benefits.
ttf, nob

[2018-01-31 13:24] m4sterbunny opened #302 "Challenge still exists with Jekyll as part of flow"
https://github.com/project-cx/pbx-group-security/edit/master/content/challenges/set-up/ST-SA-github-and-jekyll.md

[2018-01-31 16:09] m4sterbunny opened #303 "Review https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/dinis/_transcribed/press_releases_from_amazon.md"
? please clarify line 14
? consider linking line 20 to https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/dinis/_transcribed/Everything_is_a_project.md

(can this only be done once it has exited the review cycle and has a place - or can the link be dynamic, i.e. attached to the file?)

? struggled with lines 22 and 23 - please ensure intention was retained

[2018-02-01 12:43] m4sterbunny opened #304 "Clarification required for edit"
https://github.com/project-cx/pbx-group-security/edit/master/content/blog/drafts/dinis/_transcribed/Everything_is_a_project.md

? line 13 (I am not familiar with the phrase- it is as per intention)
? line 17, please clarify

[2018-02-01 12:52] m4sterbunny opened #305 "Clarification required for edit"
https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/dinis/_transcribed/new_generation_doesn_t_know_about_foss_nd_cc.md

line 18 ?graph?
line 27- was intention retained?

[2018-02-01 12:58] m4sterbunny opened #306 "clarification for edit"
https://github.com/project-cx/pbx-group-security/edit/master/content/blog/drafts/dinis/_transcribed/dont-give-others-your-problems.md

Can line 13 be dropped entirely?

[2018-02-01 13:05] m4sterbunny opened #307 "Clarification needed for edit"
https://github.com/project-cx/pbx-group-security/edit/master/content/blog/dinis/why-challenges.md

Line 25 on needs clarifying- or title changing to reflect topic

[2018-02-01 13:54] #307 closed

[2018-02-01 13:56] JemmaDSmith opened #308 "Create an intro for https://pbx-group-security.com/blog/2017/12/11/why-challenges/"
Why challenges needs an explanation i.e. The group recruitment process is apply... complete challenges... working sessions...face to face interview

But well written, I don't think the audience would understand why challenges without this

There is an infographic somewhere which could be included, I'll dig it out

[2018-02-01 13:59] JemmaDSmith commented on #308
pbx-group-security/static/img/blog/Pbx_Security_Infographic_Amendments_HD300ppp.jpg

[2018-02-01 14:34] m4sterbunny commented on #282
I have seen the process in action- all good

[2018-02-01 14:34] #282 closed

[2018-02-01 14:38] m4sterbunny commented on #302
oops- repeating myself see Remove Jekyl from candidate work flow #227

[2018-02-01 14:54] m4sterbunny opened #309 "one line need clarification"
https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/dinis/_transcribed/Using_Neo4J_to_create_a_graph_for_recruitment_process.md

see meta for detail

[2018-02-04 11:03] m4sterbunny opened #316 "Article for review"
https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/TW/MarkDownYousay.md

[2018-02-06 14:10] m4sterbunny opened #322 "(Tone review needed- fixed) same article Cat/Tags issue"
https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/TW/MarkDownYousay.md

[2018-02-06 14:11] m4sterbunny opened #323 "Tone review needed"
This originated with Dinis and has had a substantive edit and proof.

https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/dinis/_transcribed/The_importance_of_learning.md

[2018-02-09 09:47] m4sterbunny opened #325 "image not rendering on site"
https://github.com/project-cx/pbx-group-security/edit/master/content/blog/dinis/why-challenges.md

reviews fine within GitHub
but on site simply says "infographic"

please advise

[2018-02-09 09:50] m4sterbunny commented on #325
This one also
https://pbx-group-security.com/blog/1/01/01/markdownyousay/

I have checked link and it should have survived file relocation!

[2018-02-09 14:22] regisphilibert commented on #325
Hi @m4sterbunny, you must not include the `static` bit in the url.
`![image of dandelions](/img/blog.jpg) image of dandelions` ✅
`![image of dandelions](/static/img/blog.jpg) image of dandelions` 🚫
Do you want me to make the changes ? (if there are a lot, I can do a search and replace to make the change quick)

[2018-02-09 16:41] m4sterbunny commented on #325
Thanks! No I will edit cause if I DIY it might drive the message home (most folks need to do something 7 times to learn it!)

[2018-02-09 17:20] regisphilibert commented on #325
GitHub just looks for the file in the repo.
When building the website Hugo takes everything from the **static** folder and drops it at the root of the website.
So /static/images/whatever.jpg will live on http://mywebsite.com/images/whatever.jpg
I can see why you'd rather be able to see the images straight from github but I don't see a valid solution for this.
Static must be left out I'm sorry.

[2018-02-10 07:03] #325 closed

[2018-02-10 07:17] m4sterbunny commented on #322
article is live and corrections make online

[2018-02-10 07:19] m4sterbunny commented on #322
Oops- the date is wrong and no category tags have yet been applied!
![image](https://user-images.githubusercontent.com/20266893/36059580-7f4c58aa-0e43-11e8-8a89-496b64ece111.png)

[2018-02-10 07:33] m4sterbunny commented on #322
cleared cache- still not getting date fix:
![image](https://user-images.githubusercontent.com/20266893/36059676-5459f60a-0e45-11e8-8f4b-1e26e2badceb.png)

[2018-02-10 07:33] #316 closed

[2018-02-10 15:14] m4sterbunny opened #332 "Image size fix required"
https://github.com/project-cx/pbx-group-security/edit/master/content/blog/dinis/why-challenges.md

Infographic image too large- someone please train TW to apply appropriate CSS

[2018-02-11 09:00] m4sterbunny commented on #332
I attempted to apply an approach I found elsewhere- but it was a fail
the most recent PR should be reverted - someone please train TW to revert PRs!

[2018-02-11 09:02] m4sterbunny opened #371 "contribution link may not work"
This https://github.com/project-cx/pbx-group-security/edit/master/content/challenges/_text/_feedback.md

confuses me twofold:

1) hide = true (is this an early version of draft = true)?
2) the link to contribute an issue as a candidate is to the repo's contribution guidelines BUT I think this is a private repo and therefore candidates will not be able to access.

[2018-02-11 09:31] m4sterbunny commented on #371
2. may also apply here - which has a contribute link
https://github.com/project-cx/pbx-group-security/blob/master/content/page/contact.md

[2018-02-11 09:33] m4sterbunny commented on #371
Nope- I checked- the repo is not private, they should be able to do a PR to contribute

[2018-02-11 09:33] #371 closed

[2018-02-11 10:39] m4sterbunny opened #378 "consider amending wording?"
https://github.com/project-cx/pbx-group-security/blob/master/content/roles/permanent/senior-cloud-security-engineer.md

"Manage relationships in a manner acceptable to others and to the organisation"

[2018-02-11 10:44] m4sterbunny opened #379 "are all these _text files archived?"
The version 2 how to apply
https://github.com/project-cx/pbx-group-security/edit/master/content/roles/_text/_how-to-apply_v2.md

has **some challenges** highlighted, which was probably intended to be a link. Should I chase this through or are these all archived?

[2018-02-12 06:51] m4sterbunny commented on #322
Regis- date fix came through, was nothing to do with my cache. Just the refresh time is much slower than I anticipated (I think it took more than 15mins).

Can you talk to the issue of categories and tags- is there somewhere that I can go see the data-set/array for both so that I can choose from existing rather than create multi-versions when I cat/tag an article?

[2018-02-12 06:53] #308 closed

[2018-02-12 13:56] #297 closed

[2018-02-12 13:59] regisphilibert opened #381 "Provide way for editors to list Category and Tags to avoid duplicates"
Following https://github.com/project-cx/pbx-group-security/issues/322 I create an issue to discuss it.

[2018-02-12 13:59] regisphilibert commented on #322
Hi @m4sterbunny let's discuss this here: https://github.com/project-cx/pbx-group-security/issues/381

[2018-02-12 14:04] regisphilibert commented on #381
Two possibilities.
## 1/ The Hidden way.
This will not really be hidden, but we could create an HTML with a hard to guess name at the root of the website anywhere else that lists existing tags and taxonomy.
Editors could just hit something like https://pbx-group-security.com/list-taxonomies.html (could also be a .json but I suppose html will be easier to read.
`+` This is hidden from most visitors

[2018-02-12 14:28] regisphilibert commented on #332
Using the figure shortcode was a good idea. But we would have to make sure everybody uses it consistently.
Now, contrary to the usual markdown way of adding images, the shortcode needs an absolute URL, meaning : including the domain.
So this way:
[code]

Now back to our styling issue, I can add a css to make sure the images contained in blogpost are contained in it and don't... go overboard.

[2018-02-12 14:44] regisphilibert commented on #332
I was wrong about absolute URL and edited the post above.

[2018-02-12 17:53] regisphilibert commented on #332
@m4sterbunny All is good on production after the fix. That image is heavy though :)
Cheers.
You don't have to use the figure shortcode but I personally think it is better practice. This way if we decide later on to change the html structure of our figure elements, it will replace all existing mention with the upgraded html.

[2018-02-14 00:23] fzipi commented on #301
I agree.

[2018-02-14 19:34] fzipi commented on #273
@regisphilibert I would say that you just do this. I am sure Dinis already has a lot on his plate...

[2018-02-14 19:51] regisphilibert commented on #273
@fzipi Yes thanks for digging that old thing! I assume not too many people are playing with the templates these days anyway.
Will take care of this tomorrow.

[2018-02-15 13:10] regisphilibert opened #383 "Json output to pages?"
I can read this from config.toml:
[code]
But we don't have any single.json.json layouts which would permit that, so for now, no json output is served.
Do we need to add json output to pages ? Let me know.

[2018-02-15 14:45] regisphilibert commented on #383
I can see that a Json layout is there for roles but creates and error on build... I'll start by fixing that.

[2018-02-15 17:26] m4sterbunny commented on #381
Dinis- your articles never did get categories or tags applied. Do you have a solution in mind?

[2018-02-15 17:26] m4sterbunny commented on #381
@DinisCruz see above!

[2018-02-15 17:28] m4sterbunny commented on #322
@Ambg05 @gracerpmg you were both very disciplined with regards to creating categories and tags. Do you have a solution for storing and calling them in such a way that we do not create multiple variants of the same concept?

[2018-02-16 16:07] regisphilibert commented on #381
I'll build a quick stat page so you guys can see what i am talking about here.

[2018-02-16 18:09] regisphilibert commented on #381
Ok : https://pbx-group-security.com/stats.html

Using this discreet url we now have basic outline of site content data which can help with the issue at hand: tags/categories duplicate.

Of course we could add anything to this page if needed. I'm sure you guys may need other forms of data on the site content. (list of authors etc...)

Feel free to open issues to add stats to the page.

Cheers

[2018-02-18 17:28] Ambg05 commented on #322
HI m4sterbunny, sorry for the delay in responding to you. Re: categories & tags, I will need to refresh my memory! Maybe we should have another meeting next week (i’m on a training course all this week) and work it out together?

[2018-02-18 17:52] m4sterbunny commented on #322
Regis has come up with a work-around solution for us- that is summarising all the cat/tags in one place, so that writers can choose from the existing set before creating a new one. Probably a workable plan.
![image](https://user-images.githubusercontent.com/20266893/36355016-43dd79d6-14e5-11e8-9898-8f6f96e3af77.png)

[2018-02-20 07:37] m4sterbunny commented on #381
I love it - works a treat.

[2018-02-21 21:07] #381 closed

[2018-02-21 21:07] #383 closed

[2018-02-21 21:07] #294 closed

[2018-02-21 21:08] #332 closed

[2018-02-21 21:08] #291 closed

[2018-02-21 21:09] regisphilibert commented on #273
https://github.com/project-cx/pbx-group-security/pull/384

[2018-02-22 11:02] m4sterbunny opened #392 "tone / content review needed"
article for blog

[2018-02-22 11:02] m4sterbunny commented on #392
https://github.com/project-cx/pbx-group-security/blob/master/content/blog/drafts/TW/global-virtual-teams

[2018-02-25 12:47] #273 closed

[2018-03-07 19:45] regisphilibert opened #400 "Adding search functionality 🔍"
I'm really impressed by Algolia 🔍
You can add search pagination, filtering etc...
After having used their service and their instansearch.js library to add a search to my personal blog: http://benmerde.com (hit the magnifier right of the header and start searching)

We should discuss adding a search to the website with Algolia or something else. And we can talk about it here :)

![algolia](https://

[2018-03-18 18:08] m4sterbunny opened #401 "sort out images and post live"
https://github.com/project-cx/pbx-group-security/blob/master/content/blog/robert/human-error

[2018-03-30 17:27] m4sterbunny opened #407 "typo on front page"
can you point me to the testimonials section please on back end- I need to fix a typo

https://pbx-group-security.com/

[2018-03-31 15:38] #322 closed

[2018-09-26 15:36] DinisCruz opened #413 "Write Blog post for week 6"
put content here